﻿@media (min-width: 1200px)
{
    .main
    {
        background: none repeat scroll 0 0 #fff;
        margin: 0 auto;
        width: 1160px;
    }
    
        .new-main
    {
        background: none repeat scroll 0 0 #fff;
        margin: 0 auto;
        width: 1030px;
        }

    .main-afghanistan
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/afghanistan-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-albania
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/albania-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-algeria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/algeria-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-austria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/austria-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-bosnia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/bosnia-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-brazil
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/brazil-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-bulgaria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/bulgaria-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-czech
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/czech-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-egypt
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/egypt-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-ethiopia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/ethiopia-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-germany
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/germany-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-ghana
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/ghana-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }
    .main-hungary
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/hungary-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-iran
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/iran-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-lithuania
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/lithuania-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-malaysia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/malaysia-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-maritius
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/maritius-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-nepal
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/nepal-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-nigeria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/nigeria-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-pakistan
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/pakistan-web.png") no-repeat 0px top scroll #00682b;
        background-size: 585px;
    }
      .romania
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/allinone/images/Allinone-Romania.png") no-repeat 0px top scroll #00682b;
        background-size: 585px;
    }
     .main-romania1
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/smart-romania.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
        height:609px
    }

    .main-bang
    {
       padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/bang-web.png") no-repeat 0px bottom scroll #F5F5F5;
        background-size: 50%;
        float:left;
        display:block;
        position:relative;
        min-height:597px;

    }

 .main-poland, .main-China, .main-India, .main-All

    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/poland-web.png") no-repeat 0px bottom scroll #71559f;
        background-size: 582px;
    }
   .main-China
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/china-web.png") no-repeat 0px bottom scroll #71559f;
        background-size: 582px;
    }
      .main-India
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/india-web.png") no-repeat 0px bottom scroll #71559f;
        background-size: 582px;
    }
      .main-All
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/All-web.png") no-repeat 0px bottom scroll #71559f;
        background-size: 550px;
    }
        .nmain-india, .All-India, .All-Romania, .All-Poland, .All-Lithunia, .All-Bangaladesh,  .All-Bulgeria, .All-Nigeria,  .All-Hungary,  .All-China, .All-Brazil, .halfp, .All-Competitor, .countedrate-sl, .countedrate-nigeria, .Pakistanzone-n, .smart-Bulgaria, .smart-Hungary, .smart-Iran, .smart-Lativa, .smart-Lithuania, .smart-Poland, .smart-romania, .All-Comp-Giff, .Mini-Bundle, .All-lativa, .All-morocco
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/All-web.png") no-repeat 0px top scroll #f5f5f5;
        height:595px;
        border-radius:10px 0 10px 10px
    }
    .Mini-Bundle
    {
        background: url("/allinone/images/mini-bundle-d.png") no-repeat 0px top scroll #f5f5f5;
                border-radius:10px 0 10px 10px;
                height:596px
        }
   .smart-Bulgaria
    {
        
        background: url("/allinone/images/Bulgaria-d.png") no-repeat 0px top scroll #f5f5f5;
   
    }
       .smart-Hungary
    {
      
        background: url("/allinone/images/Hungary-d.png") no-repeat 0px top scroll #f5f5f5;
   
    }   .smart-Iran
    {
      
        background: url("/allinone/images/Iran-d.png") no-repeat 0px top scroll #f5f5f5;
   
    }   .smart-Lativa
    {
      
        background: url("/allinone/images/Lativa-d.png") no-repeat 0px top scroll #f5f5f5;
   
    }   .smart-Lithuania
    {
      
        background: url("/allinone/images/Lithuania-d.png") no-repeat 0px top scroll #f5f5f5;
   
    }   .smart-Poland
    {
      
        background: url("/allinone/images/Poland-d.png") no-repeat 0px top scroll #f5f5f5;
   
    }   .smart-romania
    {
      
        background: url("/allinone/images/romania-d.png") no-repeat 0px top scroll #f5f5f5;
   
    }
  .All-India
    {
      
        background: url("/lps/img-lp/flags/all-india.png") no-repeat 0px top scroll #f5f5f5;
   
    }
      .All-Romania
    {
      
        background: url("/lps/img-lp/flags/all-romania.png") no-repeat 0px top scroll #f5f5f5;
   
    }
       .All-Poland
    {
      
        background: url("/lps/img-lp/flags/all-poland.png") no-repeat 0px top scroll #f5f5f5;
   
    }
       .All-Lithunia
    {
      
        background: url("/lps/img-lp/flags/all-Lithuania.png") no-repeat 0px top scroll #f5f5f5;
   
    }
    .All-Bangaladesh
    {
      
        background: url("/lps/img-lp/flags/all-Bangladesh.png") no-repeat 0px top scroll #f5f5f5;
   
    }
    .Pakistanzone-n
    
    {
         background: url("/lps/img-lp/flags/pakistanzone-d.png") no-repeat 0px top scroll #006833;
            border-radius: 15px;
         
        }
    .halfp
    {
      
        background: url("/lps/img-lp/flags/halfp.png") no-repeat 0px top scroll #f5f5f5;

   
    }
    .countedrate-sl
    {
        background: url("/lps/img-lp/flags/count-sl-d.png") no-repeat 0px top scroll #f5f5f5;
        }
    .countedrate-nigeria
    {
          background: url("/lps/img-lp/flags/counte-nige-d.png") no-repeat 0px top scroll #f5f5f5;
        }
     .All-Bulgeria
    {
      
        background: url("/lps/img-lp/flags/all-Bulgeria.png") no-repeat 0px top scroll #f5f5f5;
   
    }
     .All-Nigeria
    {
      
        background: url("/lps/img-lp/flags/all-nigeria.png") no-repeat 0px top scroll #f5f5f5;
   
    }
     .All-Hungary
    {
      
        background: url("/lps/img-lp/flags/all-hungary.png") no-repeat 0px top scroll #f5f5f5;
   
    }
    .All-China
    {
      
        background: url("/lps/img-lp/flags/all-china.png") no-repeat 0px top scroll #f5f5f5;
   
    }
     .All-Brazil
    {
      
        background: url("/lps/img-lp/flags/all-brazil.png") no-repeat 0px top scroll #f5f5f5;
   
    }

        .All-morocco
    { background: url("/allinone/images/all-morocco.png") no-repeat 0px top scroll #f5f5f5;
        padding: 0 0 0px 0;
        margin: 0;
              border-radius:10px 0 10px 10px
    }
      .All-turkey
    { background: url("/allinone/images/all-turkey.png") no-repeat 0px top scroll #f5f5f5;
        padding: 0 0 0px 0;
        margin: 0;
                border-radius:10px 0 10px 10px
    }
      .All-malaysia
    { background: url("/allinone/images/all-malaysia.png") no-repeat 0px top scroll #f5f5f5;
        padding: 0 0 0px 0;
        margin: 0;
                border-radius:10px 0 10px 10px
  
    }
       .All-lativa
    { background: url("/allinone/images/all-lativa.png") no-repeat 0px top scroll #f5f5f5;
        padding: 0 0 0px 0;
        margin: 0;
                border-radius:10px 0 10px 10px

    }
 .All-Competitor
    {
      
        background: url("/lps/img-lp/flags/comp-d.png") no-repeat 0px top scroll #f5f5f5;
   
    }
     .All-Comp-Giff
    {
      
        background: url("/lps/img-lp/flags/All-comp-giff-d.png") no-repeat 0px top scroll #f5f5f5;
   
    }

    .main-China .form-box, .main-India .form-box, .main-All .form-box
{
    width:50%
    }
    .main-All .form-box
    {
        width:53%
        }
       
    .cPurpleimg
    {
        margin:0 0 0 550px;
        position:absolute;
        display:block;
    }
 .cPurpleimg-1
    {
        margin:30px 0 0 508px;
        position:absolute;
        display:block;
   
    }
    .main-romania
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/romania-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-russia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/russia-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-saudiarabia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/saudiarabia-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-slovakia
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/slovakia-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-syria
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/syria-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-thailand
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/thailand-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-turkey
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/turkey-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-uae
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/uae-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-vietnam
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/vietnam-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-philippines
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/philippines-web.png") no-repeat 0px bottom scroll #6e5ca8;
        background-size: 640px;
    }

    .main-srilanka
    {
        padding: 0 0 0px 0;
        margin: 0;
        background: url("/lps/img-lp/flags/srilanka-web.png") no-repeat 0px 20px scroll #fff;
        background-size: 560px;
    }


    .offer_img
    {
        margin: 10px 0 0 0;
        padding: 0 0 0 20%;
        text-align: right;
    }

    .show3
    {
        background: url("/allinone/images/allinone.png") no-repeat scroll 38% 30px #ebebeb;
        background-size: 310px;
        display: block;
        padding: 0 0 0 0;
        float: left;
        width: 100%;
    }

    .show4
    {
        background: url("/allinone/images/allinone2.png") no-repeat scroll 50px bottom;
        background-size: 300px;
        display: block;
        padding: 0 0 0 0;
        float: left;
        width: 100%;
    }

    .show5
    {
        display: block;
        padding: 0 0 0 0;
        float: left;
        width: 100%;
    }

    .show6
    {
        display: block;
        padding: 0 50px;
        margin: 0;
        float: left;
        width: 50%;
    }

    .show61
    {
        background: #00adef;
        padding: 5px 5px;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        border: 3px solid #fff;
        float: left;
        width: 100%;
    }

    .show61 h2
    {
        color: #fff;
        font-size: 35px;
        line-height: 30px;
        margin: 0;
        padding: 10px 0 0;
        text-align: center;
    }

    .show61 h3
    {
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }


    .show7
    {
        background: #fff;
        padding: 5px 5px;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        border: 3px solid #fff;
        height: 100px;
        float: left;
        width: 100%;
    }

    .show7 h2
    {
        color: #003864;
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 10px 0 10px;
        text-align: center;
    }

    .show72
    {
        background: #fff;
        padding: 5px 5px;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        border: 3px solid #fff;
        height: 100px;
        float: left;
        width: 100%;
    }

    .show72 h2
    {
        color: #003864;
        font-size: 30px;
        line-height: 60px;
        margin: 0;
        padding: 10px 0 10px;
        text-align: center;
    }

    .show71
    {
        background: #fff;
        padding: 5px 5px;
        border-radius: 10px;
        margin: 10px 0;
        display: block;
        border: 3px solid #fff;
        float: left;
        width: 100%;
    }

    .show71 h2
    {
        color: #003864;
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 10px 0 10px;
        text-align: center;
    }

    .imgshow6
    {
        display: block;
        margin: -40px -30px -40px 0;
        float: right;
        position: relative;
        z-index: 1000;
    }

    .radiobuttondiv .box1
    {
        width: 140px;
        position: relative;
        float: left;
        margin: 10px 0px 0 36%;
        padding: 0px;
    }
    .new-main .radiobuttondiv .box1
    {
        width: 140px;
        position: relative;
        float: left;
        margin: 10px 0px 0 84px;
        padding: 0px;
        }
    .radiobuttondiv .box1 input
    {
        float: left;
        margin: 0px 0 0 60px;
        clear: both;
    }
    .radiobuttondiv .box1 img
    {
        margin: 0px 0 0 50px;
        clear: both;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        float: left;
    }

    #newbackground .fullfieldv2 h2
    {
        font-size: 24px;
        margin: 20px 0 0 0px;
        width: 100%;
        padding: 0 0 0 25%;
    }

    .radiobuttondiv .box1 p
    {
        margin: 0px;
        padding: 2px 0;
        clear: both;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #009fe3;
    }

    .radiobuttondiv .box2
    {
        width: 140px;
        position: relative;
        float: left;
        margin: 40px 0px 0 0;
        padding: 0px;
    }
    .radiobuttondiv .box2 input
    {
        float: left;
        margin: 0px 0 0 60px;
        clear: both;
    }
    .radiobuttondiv .box2 img
    {
        margin: 0px 0 0 50px;
        clear: both;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        float: left;
    }

    .radiobuttondiv .box2 p
    {
        margin: 0px;
        padding: 2px 0;
        clear: both;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #009fe3;
    }


    .left-side
    {
        width: 20%;
        float: left;
    }
    #newbackground h1
    {
        font-size: 60px;
        color: #003864;
        float: left;
        margin: 40px 0 5% 0;
        line-height: 65px;
        float: none;
    }
    #newbackground .form-box
    {
        clear: none;
        width: 38%;
    }
    .center
    {
        margin: 0 auto;
    }
    .height-1
    {
        height: 468px;
    }
    .height-1 img
    {
        position: absolute;
        bottom: 0;
    }
    .yellow-bg, .yellow-bg-1
    {
        background: #fbba00;
        overflow: hidden;
        width: 100%;
        box-shadow: 5px 5px 5px 0 #999;
        margin: 20px 0 20px 0;
        border-radius: 10px;
        padding: 20px 0;
    }
    .border-dot
    {
        border-right: 1px dotted #000;
    }
    .yellow-bg .show
    {
        padding: 0 2%;
    }
    .yellow-bg .col-lg-4
    {
        padding-left: 0;
        width: 50%;
    }
    .yellow-bg .col-lg-6
    {
        float: right;
    }
    .yellow-bg h1
    {
        font-size: 35px;
        color: #003864;
        margin: 0;
        line-height: 30px;
        padding: 10px 0 0 0;
    }
    .blue-bg-1 .col-lg-6, .white-bg .col-lg-6 .col-lg-6
    {
        float: left;
    }
    .yellow-bg .white-bg .col-lg-6
    {
        border-left: 1px dotted #000;
    }
    .yellow-bg .white-bg .col-lg-4
    {
        padding: 0 15px;
    }
    .yellow-bg .white-bg h5
    {
        font-size: 30px;
        color: #003864;
        margin: 0;
        text-align: center;
    }
    .yellow-bg .white-bg
    {
        background: #fff;
        border-radius: 10px;
        padding: 18px 0;
        float: left;
        width: 100%;
        margin-top: 12px;
    }

    .blue-bg-1
    {
        width: 100%;
        border: 3px solid #fff;
        float: left;
        padding: 12px 0;
        margin: 0;
    }

    #newbackground .smartdiv
    {
        margin: 20px 0 0 153px;
        text-align: center;
        width: 146px;
    }
    #newbackground .radiobuttondiv .smartdiv img
    {
        margin: 0 0 0 53px;
    }
    #newbackground .radiobuttondiv .smartdiv input
    {
        margin: 0 0 0 65px;
    }
    .inner_50
    {
        padding: 0 0px;
        width: 50%;
        margin: 0;
    }

    .inner_50 h2
    {
        font-size: 30px;
        margin: 15px 0 10px 20px;
    }

    .new_grid_bg2
    {
        float: left;
        width: 70%;
        margin: 40px 0px 0px 0px;
    }

    .new_grid_bg2 img
    {
        width: 10%;
        float: left;
        margin: 0px 10px 0 0px;
    }

    .new_grid_bg2 h2
    {
        font-size: 36px;
        margin: 10px 0 0 20px;
        display: block;
    }

    .new_free_content_grey
    {
        float: left;
        margin: 0 0 0% 0;
        padding: 0 20px;
        width: 100%;
        display: none;
    }



    .new_free_content_grey h2
    {
        color: #003864;
        font-family: Arial;
        font-size: 36px;
        font-weight: bold;
        margin: 0 0 20px 0;
        text-align: center;
        width: 100%;
    }

    .inner_grey
    {
        padding: 0 0 20px 0;
        width: 100%;
        float: left;
        margin: 0;
        background: #f5f5f5;
        display: none;
    }



    .header
    {
        height: 110px;
        margin: 0 0 0px 0;
        border-bottom: 1px solid #01456a;
    }

    .grid_bg
    {
        float: right;
        width: 22%;
        margin: 10px 0px 0px 0px;
    }

    .inner_left_sub2
    {
        padding: 0 20px;
    }

    .free_content_grey
    {
        padding: 0 20px;
    }

    .SecondFooter p
    {
        margin: 10px 30px 15px 20px;
    }

    .grid_bg2
    {
        float: left;
        width: 40%;
        margin: 50px 0px 0px 20px;
    }

    .free_content_grey21
    {
        float: left;
        margin: 10px 0 0px;
        padding: 0;
        width: 4%;
        display: block;
    }

    .free_content_grey2
    {
        margin: 0 0 0px;
        padding: 0;
        width: 22%;
    }

    .free_content_grey2 h4
    {
        font-size: 26px;
        margin: 2px 0 0;
    }

    .free_content_grey2 h5
    {
        font-size: 17px;
        margin: 0;
        padding: 0;
        width: 94%;
    }

    .inner_content_blue
    {
        display: block;
    }



    .inner_content_grey
    {
        width: 31.5%;
        margin: 0 0 0 2%;
    }

    .img
    {
        display: none;
    }

    .form-box
    {
        float: right;
        width: 45%;
        margin: 0px 0px 0 0px;
        border-radius: 0px 10px 10px 0px;
    }
    .new-form-box, .Mini-Bundle .new-form-box
    {
         float: right;
        width: 447px;
        margin: 0px 0px 0 0px;
        border-radius: 0px 10px 10px 0px;
        }
     .Mini-Bundle  .new-form-box 
     {
         width:458px
         }
    .backnone
    {
        width: 100%;
        float: left;
    }

    .backnone1
    {
        width: 100%;
        float: left;
        background: none;
    }

    .radiobuttondiv
    {
        width: 93%;
        float: right;
        margin: 0px 0 0 20px;
        padding: 0px;
    }


    #newbackgroundplue
    {
        padding: 0;
    }



    #bangnew
    {
        background: url("/allinone/images/bangladesh2.png") no-repeat scroll 10px 10px;
        background-size: 620px;
        height: auto;
    }

    #newbackgroundplue2
    {
        margin: 0px 0px 0 0;
        padding: 20px 20px 20px 0;
        border-radius: 0px 10px 10px 0px;
    }

    .new_grid_bg12
    {
        float: left;
        width: 77%;
        margin: 30px 0px 0px 0px;
    }

    .new_grid_bg12 img
    {
        float: left;
        margin: 0px 10px 0 0px;
        width: 210px;
    }

    .new_grid_bg12 h2
    {
        font-size: 30px;
        margin: 20px 0 0 20px;
        text-align: left;
        width: 70%;
    }



    .tr_label
    {
        margin: 7px 10px 0 0px;
        width: 32%;
        text-align: right;
    }
 .new-inner_left .tr_label
    {
        margin: 7px 10px 0 0px;
        width: 22%;
        text-align: right;
    }

    .tr_input
    {
        margin: 7px 0px 0 10px;
        width: 62%;
    }
 .new-inner_left  .tr_input
    {
        margin: 7px 0px 0 10px;
        width: 68%;
    }
    .inner_left, .newbackground
    {
        padding: 0;
        width: 100%;
        margin: 15px 0px 0px 0px;
        box-shadow: 5px 5px 5px 0px #999;
    }

    .fullfieldv2 h1
    {
        font-size: 18px;
        margin: 0px 0 0px 0px;
        width: 70%;
    }

    .fullfieldv2 h2
    {
        width: 70%;
        font-size: 24px;
    }
.new-inner_left  .fullfieldv2 h2
    {
        width: 84%;
        font-size: 24px;
    }
    .footer span
    {
        margin: 0px 0px 0px 20px;
        color: #5f5f5f;
        font-size: 13px;
        font-family: Arial;
        width: 70%;
        float: left;
        text-align: left;
        display: block;
    }

    .footerbox_right
    {
        color: #5F5F5F;
        float: right;
        margin: 0px 20px 0 0;
        font-size: 13px;
        text-align: right;
        width: 25%;
    }

    .footer_boxes
    {
        background: none repeat scroll 0 0 #FFFFFF;
        border-top: 1px solid #009fe3;
        border-bottom: 1px solid #009fe3;
        float: left;
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    .free_content_grey h2
    {
        font-size: 36px;
    }

    .footer_boxes1
    {
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0 20px;
    }

    .display_none
    {
        display: block;
    }

    .display_none2
    {
        display: block;
    }

    .display-pc
    {
        display: block;
    }
    #newbackground .col-lg-6:nth-child(1)
    {
        width: 31%;
        padding: 0;
        margin: 0;
    }
    #newbackground .col-lg-6 .show .col-lg-6
    {
        width: 45%;
        padding: 10px 0 0 0;
    }
    .right-1
    {
        float: right;
    }
    #newbackground .form-box
    {
        border-top: none;
    }


    .display-mobile
    {
        display: none;
    }
    #newbackground .radiobuttondiv
    {
        width: 100%;
    }
    #newbackground .col-lg-6 .show #Iran
    {
        width: 55%;
    }
    #Iran img
    {
        max-width: 92%;
        left: -39px;
    }

    #Common
    {
        position: relative;
        top: 25px;
        right: 0;
        width: 25%;
    }

    #Common img
    {
        width: 90%;
    }

    #Bangladhesh .height-1
    {
        height: 386px;
    }
    #India #Iran img
    {
        left: 40;
    }
    #Malaysia #Iran img
    {
        left: 20px;
    }

    #Nigeria .height-1
    {
        height: 339px;
    }
    #China #Iran img
    {
        left: 40px;
    }
    #international
    {
        float: left;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }

    .show2
    {
        display: block;
        padding: 0 0 0 0;
        float: left;
        width: 57%;
    }

    .show2 ul
    {
        display: block;
        padding: 10px 0 0 20px;
        float: left;
        width: 100%;
    }

    .show2 ul li
    {
        padding: 0 0 20px 0;
        float: left;
        list-style: none;
        width: 15%;
    }

    .show2 ul li div
    {
        padding: 20px 0 0px 0;
        float: left;
        list-style: none;
        width: 100%;
        font-size: 15px;
        color: #0f4979;
    }

    .show2 ul li p
    {
        display: block;
        margin: 0;
        padding: 0 0 0 0;
        float: left;
        font-size: 15px;
        color: #000;
        width: 100%;
    }

    .show2 ul li span
    {
        display: block;
        padding: 0 0 0 0;
        margin: 0;
        float: left;
        font-size: 15px;
        color: #00adef;
        width: 100%;
    }

    .Common2
    {
        width: 50%;
        float: left;
        padding: 30px 0 0 20px;
        margin: 0;
    }

    .Common2 img
    {
    }

    .Common21
    {
        width: 50%;
        float: left;
        padding: 0;
        margin: 0;
    }

    .Common21 img
    {
        margin: 60px 0 0 0;
    }

    .blue-bg, .blue-bg-1
    {
        background: #00adef;
        padding: 15px 5px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        margin: 15px 15px 15px 0px;
        display: block;
    }

    #bang, #bul, #Brazil, #China1, #Hungary, #India1, #iran1, #Latvia, #Lithuania1, #malaysia1, #Poland1, #Romania1, #Thiland, #nigeria1
    {
        background: url("/allinone/images/girl-Bangladesh.png") no-repeat scroll 100px bottom;
        float: left;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }

    #bang
    {
        width: 100%;
        float: left;
        background-size: 16%;
    }
    #bul
    {
        background: url("/allinone/images/girl-Bulgaria.png") no-repeat scroll 20px bottom;
        width: 100%;
        float: left;
    }
    #Brazil
    {
        background: url("/allinone/images/girl-Brasil.png") no-repeat scroll 100px bottom;
        width: 100%;
        float: left;
    }
    #China1
    {
        background: url("/allinone/images/girl-China.png") no-repeat scroll 100px bottom;
        width: 100%;
        float: left;
    }
    #India1
    {
        background: url("/allinone/images/girl-india.png") no-repeat scroll 100px bottom;
        width: 100%;
        float: left;
    }
    #iran1
    {
        background: url("/allinone/images/girl-iran.png") no-repeat scroll 0 bottom;
        width: 100%;
        float: left;
    }
    #Latvia
    {
        background: url("/allinone/images/girl-Latvia.png") no-repeat scroll 10px bottom;
        width: 100%;
        float: left;
    }
    #Lithuania1
    {
        background: url("/allinone/images/girl-Lithuania.png") no-repeat scroll 10px bottom;
        width: 100%;
        float: left;
    }
    #malaysia1
    {
        background: url("/allinone/images/girl-malaysia.png") no-repeat scroll 100px bottom;
        width: 100%;
        float: left;
    }
    #Poland1
    {
        background: url("/allinone/images/girl-Poland.png") no-repeat scroll 10px bottom;
        width: 100%;
        float: left;
    }
    #Romania1
    {
        background: url("/allinone/images/girl-Romania.png") no-repeat scroll 10px bottom;
        width: 100%;
        float: left;
    }
    #Thiland
    {
        background: url("/allinone/images/thailand.png") no-repeat scroll 100px bottom;
        width: 100%;
        float: left;
    }
    #nigeria1
    {
        background: url("/allinone/images/man-nigeria.png") no-repeat scroll 100px bottom;
        width: 100%;
        float: left;
    }
    #Hungary
    {
        background: url("/allinone/images/girl-Hungary.png") no-repeat scroll 10px bottom;
        width: 100%;
        float: left;
    }

  .offerimg
{
    position:absolute;
    left:44%;
    top:20px;
    display:block;
}
.new-inner_left 
{
    width:100%;
    margin:0 0
    }
    .new-main .grid_bg
    {
        width:22%;
        margin-right:0
        }
        .new-main .new_grid_bg2 {
    clear: both;
    float: left;
    margin: 0 0 0 0;
    width:100%
    
}
    .new-main .new_grid_bg2 img
    {
        max-width:100%;
        width:154px
        }
    .new-main .new_grid_bg2 h2
    {
        margin-top:24px;
        font-weight:normal;
        font-size:22px
        }
   .new-main .new_grid_bg2 h2.fsize
   {
       font-size:22px;
       margin:29px 0 0 0px
       }
        .new-main .header
        {
            height: 154px;
            }
            .new-main .new_grid_bg2 .imgsize
{
    width:82px
    }
  .starpos
  {
     left: 507px;
    position: relative;
    top: 30px;
         max-width: 100%;
         display:inline
      }
.comp-row-1, .comp-row-2
{
    float:left;
    margin:0 2%;
    width:96%
    }
 .comp-col-1, .comp-col-3
 {
     width:25%;
     float:left;
     }
  .comp-col-2
 {
     width:75%;
     float:left;
     background:#707070;
     border-radius:10px;
     border:3px solid #fff;
     height:66px;
     font-size:20px;
     color:#fff;
     text-align:center
     
     }
     .comp-row-1 h2
     {
         color:#0f4979;
         margin-top:22px;
         font-size:18px
         }
  .comp-col-2-sub h3
  {
      font-size:20px;
     color:#fff;
     margin-bottom:0;
     margin-top:10px;
     line-height:20px
      }
  .comp-col-4
  {width:75%;
     float:left;
      }
 .comp-col-2-sub, .comp-col-4-sub
 {
     width:25%;
     float:left;
     height:60px
     }
 .lbluebg
 {
     background:#00adef;
     border-right:3px solid #fff;
     border-radius: 7px 0 0 7px;
     }
.comp-col-4 .lbluebg
{
      border-radius: 0;
    
    }
 .lwhite-bg
 {
     background:#fff;
     border-radius:10px;
     height:66px;
     border:3px solid #fff
     }
 .comp-row-2
 {
     margin-top:8px
     }
  .border-dot-black {
    border-right: 1px dotted #707070;
}
  .border-dot-white {
    border-right: 1px dotted #fff;
}
.comp-row-2 h2, .comp-col-4-sub h3
{
    color:#0f4979;
    font-size:18px;
     margin-top:20px;
     text-indent:15px;
     
    }
.comp-col-4-sub h3
{
    text-align:center;
    font-weight:normal;
    text-indent:0
    }
 .lbluebg h3{ color:#fff;  font-weight:bold}
 .display-mobile1
       {
           display:none
           }
   .Pakistanzone-n .new-form-box
   {
       width:448px
       }
    .Pakistanzone-n .offer_img
    {
        width:393px;
        margin:10px 0 0 5px;
        padding:0
        }
    p.blueco
    {
        color:#00426e;
        font-size:15px;
        margin-bottom:0;
        margin-left:0
        }
        .new-main .new_grid_bg2 img.imgsize
        {
            width:76px
            }
   .giff-h1
   {
        font-size:35px;
        text-align:center;
        color:#0f4979;
        margin-top:0;
       }
   .full-blugbg, .full-blackbg
   {
        background: none repeat scroll 0 0 #00adef;
    border-radius: 10px;
    border: 3px solid #fff;
    height:80px
       }
   .full-blackbg
   {
       background:#707070;
       margin-top:0px
       }
   .full-blugbg h2, .full-blackbg h2
   {
       text-align:center;
       color:#fff;
       font-size:35px;
       font-weight:bold;
       margin:5px 0 0 0;
       line-height:35px
       }
        .full-blugbg span, .full-blackbg span
        {
            font-size:24px;
            color:#fff;
            text-align:center;
            font-weight:bold;
            display:block
            }
            .col-lg-6 .lwhite-bg
            {
                height:74px;
                margin-top:20px
                }
      .col-lg-6 .lwhite-bg h2 
      { color: #0f4979;
    font-size: 30px;
    margin: 0;
    text-align: center;
          }
       .col-lg-6 .lwhite-bg span
       {
            font-size:24px;
            color:#0f4979;
            text-align:center;
            font-weight:normal;
            display:block
           }
    .line-74
    {
        line-height:65px
        }
   .font-normal
   {
      font-weight:normal
       }
       .posi-ab{ margin-top: -40px;
    position: absolute;
    right: 30px;}
    .mar50
    {
        margin-bottom:50px
        }
        
        
           .Lp-container
    {
        width:1020px;
        margin:0 auto;
        background:#fff;
        }
        
    .Lp-Header
    {
        height:86px;
        }
   .Lp-Logo
   {
       float:left;
       width:100%;
       margin-bottom:15px
       }
   .Lp-Logo img
   {
       width:170px;
       margin-top:19px
   
       }
   .Lp-mar20
   {
     
       margin-bottom:20px
       }
   .Lp-purplebg
   {
       background:#009FE3;
       height:106px;
       padding:20px 0
       }
   .Lp-radius
   {
       border-radius:15px
       }
    .bar-1,.bar-2,.bar-3
    {
        float:left
        }
   .bar-1
   {
       width:210px;
       }
      .bar-2
   {
       width:118px;
       border-left:2px dotted #Fff;
       height:67px
       }
   .bar-3
   {
       width:auto;
       padding-left:30px
       }
   .Lp-purplebg h1
   {
     
       color:#fff;
       margin:0;
       font-size:22px;
       }
   .bar-1
   {
    padding: 0 0 0 20px
       }
   .Lp-purplebg span
   {
       font-size:16px;
       color:#fff;
       line-height:18px;
       }
    .bar-2 h1, .bar-3 h1
    {
        text-align:center;
        color:#fede29;
        margin:0;
        font-size: 15px;
        }
    .bar-2 span, .bar-3 span
    {
        text-align:center;
        display:block;
        padding:5px 0 0 0;
        font-size:20px;
        line-height: 24px;
        }
   .bar-3 h1
   {
       text-align:left
       }
   .Lp-Image
   {
       overflow:hidden;
       float:left;
       margin-top:0
       }
   .Lp-content
   {
       border:1px solid #c9c9c9;
       width:1018px;
       background:#fff;
       overflow:hidden
       }
   .Lp-div-1
   {
       width:638px;
       float:left;
       background:#ebebeb;
       border-right:1px solid #c9c9c9;
       border-radius:0 15px 15px 0;
       min-height:533px;
       border-bottom:none
       }
   .Lp-container .fullfieldv2
   {
       padding:15px 15px 30px;
       width:86%
       }
    .Lp-container .fullfieldv2 h2
    {
        float:left;
        text-align:left
        }
     .Lp-container #order_btnProceed
     {
         border-radius: 10px;
           background: none repeat scroll 0 0 #0f4979;
    border: medium none;
    border-radius: 18px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 43px;
    margin: 0;
    width: 100%;
         }
     .Lp-div-2
     {
         width:367px;
         float:left;
         margin-left:10px
         }
         .free_sim_right_sub {
    display: block;
    float: left;
    margin: 0px 10px 0 0;
    padding: 0;
    text-align: center;
    width: 38%;
}
.free_sim_right_sub img
{
    max-width:100%
    }
.free_sim_right_sub2 {
    display: block;
    float: left;
    margin: 18px 0;
    padding: 0;
    text-align: left;
    width: 56%;
    font-size:12px;
    color:#646464
}
.free_sim_right_sub2 strong
{
    font-size:15px;
    color:#000
    }
 .Lp-div-sub
 {
     border-bottom:1px solid #c9c9c9;
     float:left;
     padding:0
     }
 .lp-img-1
 {
     margin-top:14px
     }
 .Lp-display-mobile
 {
     display:block
     }
      .Lp-display-mobile1
 {
     display:none
     }
     .Lp-container .radiobuttondiv .box1, .Lp-container .radiobuttondiv .box2
     {
         width:30%
         }
    .Lp-pos-1 a
    {
        display:block;
         width: 284px;
       height: 117px;
        }
     .Lp-pos-1
     {   height: 117px;
    margin-bottom: 204px;
    margin-left: 736px;
    margin-top: -302px;
    position: absolute;
    width: 284px;
         
         }
         .Lp-container .radiobuttondiv .box1 img, .Lp-container .radiobuttondiv .box2 img
         {
             display:inline-block
             }
             .NewLp .Lp-div-1
             {
                 width:100%;
                 border-right:none;
                 height:auto;
                 min-height:100px;
                 border-radius:15px;
                 border-bottom:1px solid #c9c9c9
                 
                 }
            .NewLp .fullfieldv2
            {
                width:100%
                }
                .NewLp .tr_label
                {
                    width:23%
                    }
            .NewLp .radiobuttondiv .box1, .NewLp .radiobuttondiv .box2
            {
                width:50%
                }
               .NewLp .fullfieldv2 h2
               {
                   text-align:center;
                   width:100%;
                   margin-bottom:30px
                   }
               .NewLp .radiobuttondiv .box1
               {
                   margin-left:0
                   }
                .NewLp .cntrl-box-1, .NewLp .cntrl-box-2
                {
                    width:50%;
                    padding:0 15px;
                    position:relative;
                    float:left
                    }
                  .NewLp .Lp-div-2
                  {
                      width:100%;
                      margin-left:0;
                      padding:20px 0
                      }
                  .NewLp .Lp-div-sub
                  {
                      width:50%;
                      border-bottom:0;
                       border-right:1px solid #c9c9c9
                      }
                  .NewLp .free_sim_right_sub2
                  {
                      margin:0
                      }
                   .NewLp .lp-img-1
                   {
                       margin-top:0
                       }
                  .offerenjoy
                  {
                      background: url("/99p/rates/images/free30.png") no-repeat scroll -6px Center #ffba2e;
                      border:10px solid #48a844;
                      height:135px
                      
                      }
                      .offerenjoy p
                      {
                          color: #17469e;
    font-size: 17px;
    line-height: 24px;
    margin-left: 339px;
    margin-top:15px
                          
                          }
                          .blue_color
{
    background:#009FE3;
    border-radius:15px;
    color:#fff
    }
.blue_color h5
{
    font-size:15px;
    margin:11px 0 10px;
    font-weight:normal
    }
 .blue_color h3
{
    font-size:18px;
    margin:0px 0 25px
    }
 ul.compitoruk
 {
     margin:7px 0;
     overflow:hidden;
     border:none
     }
 ul.compitoruk li
 {
     width:16.6%;
     float:left;
     list-style-type:none;
     text-align:center;
     color:#Fff;
     border-right:1px solid #fff;
     margin:0
     
 }
 .left-div
 {
     width:230px;
     float:left;
     padding:0 0 0 34px
     }
.right-div
{
    width:790px;
    float:left;
    padding:0
    }
   ul.compitoruk li:last-child
  {
      border:none
      }
   .right-div h3 
   {
       font-size:35px;
       font-weight:normal;
       margin:0;
       
       }
 .right-div h3 span
 {
     display:block;
     font-size:15px;
     color:#fff;
       font-style:normal
     }
   .right-div span
   {
       font-size:14px;
       color:#fede27;
           font-style:normal
       }
}
