﻿*{margin:0;padding:0}
a,img{color:#E7176D;border:none;outline:0;text-decoration:none}
#Container{font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0 auto;width:954px}
#Container .Header{background:url(../images/common/header_big_mydelight.jpg) no-repeat;width:954px;height:138px;margin:20px 0 0}
#Container .Header h1{width:232px;height:123px;float:left}
#Container .Header h1 a{display:block;height:123px}
#Container .Header h1 img{position:relative;bottom:20px}
#Container .Header h2{float:left;color:#000;font-weight:400;font-size:26px;line-height:123px}
.LogOut{float:right;height:auto;padding:30px 0 0 408px;position:absolute;top:19px;width:300px}
.LogOut p{color:#000;font-size:12px;width:300px;float:right}
.LogOut p a span{float:right;color:#E7176D}
#Container .MiddleContent{width:954px;height:auto;overflow:hidden}
Ul.AccountOverview{width:954px;height:auto}
Ul.AccountOverview li{float:left;height:auto;list-style-type:none}
Ul.AccountOverview li.Account,Ul.AccountOverview li.LoyaltyBonus{width:470px;height:auto}
Ul.AccountOverview li.YourDetails,Ul.AccountOverview li.YourPlan,Ul.AccountOverview li.Payment,Ul.AccountOverview li.Services{width:308px;height:auto}
Ul.AccountOverview li.Account h3,Ul.AccountOverview li.LoyaltyBonus h3,Ul.AccountOverview li.YourDetails h3,Ul.AccountOverview li.YourPlan h3,Ul.AccountOverview li.Payment h3,Ul.AccountOverview li.Services h3{height:30px;line-height:30px;padding:0 0 0 15px;color:#000;font-size:16px;font-weight:400}
Ul.AccountOverview li.Account .Div,Ul.AccountOverview li.LoyaltyBonus .Div,Ul.AccountOverview li.YourDetails .Div,Ul.AccountOverview li.YourPlan .Div,Ul.AccountOverview li.Payment .Div,Ul.AccountOverview li.Services .Div{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;overflow:hidden}
.Account h3{background:url(" /images/common/header_mydelight_overview.jpg") no-repeat}
.LoyaltyBonus{float:right!important}
.LoyaltyBonus table tr td{line-height:30px}
.LoyaltyBonus h3{background:url(" /images/common/header_mydelight_loyalty_bonus.jpg") no-repeat}
.YourDetails h3{background:url(" /images/common/header_mydelight_details.jpg") no-repeat}
.YourDetails{width:470px;float:left;height:121px}
.YourDetails,.YourPlan,.Payment,.Services{margin:15px 0 0}
.YourPlan{padding:0 15px}
.YourPlan h3{background:url(" /images/common/header_mydelight_your_plan.jpg") no-repeat}
.Payment h3{background:url(" /images/common/header_mydelight_payments.jpg") no-repeat}
.Services h3{background:url(" /images/common/header_mydelight_services.jpg") no-repeat}
.Account .Div table tr td{line-height:20px}
.Account .Div table tr td h5{color:#9CCE47;font-size:22px;padding:15px 0 0}
.BgGreen,.BgGray,.BgPink,.OrangeButton{background:url(" /images/common/button_170_green.jpg") repeat-x;color:#FFf;width:80px;display:inline-block;text-align:center;padding:7px 0;font-weight:700;position:relative;top:15px;margin:13px 0 0;cursor:pointer}
.BgGray{background:url(" /images/common/button_170_gray.jpg") repeat-x;width:100px}
.OrangeButton{background:url(" /images/common/button_170_orange.jpg") repeat-x!important;float:right;margin:0 3px 0 0;padding:7px 5px;top:0;width:auto}
.YourDetails .Div a,.YourPlan .Div a,.Payment .Div a,.Services .Div a{line-height:18px;background:url(../images/common/arrow_li_pink.gif) no-repeat left 2px;padding:0 0 0 10px;cursor:pointer}
#footer{width:954px;border-top:1px solid #000;margin:15px 0 0}
#footer a{float:right;color:#A8A8A8;display:block;cursor:pointer;padding:5px 0 0}
#Container .LeftContent{width:217px;height:auto;float:left;border-top:1px solid #000;margin:2px 0 0}
#Container .RightContent{width:722px;height:auto;float:left;margin:0 0 0 15px}
.PinkLongBox{height:auto;overflow:hidden;width:722px}
.PinkLongBox h3{background:url(" /images/common/header_long_light_green.jpg") no-repeat scroll right 0 transparent;color:#E7176D;font-size:17px;font-weight:700;height:30px;line-height:30px;padding:0 0 0 15px}
.PinkLongBox .Div{border-bottom:1px solid #CCC;border-left:1px solid #CCC;border-right:1px solid #CCC;height:auto;overflow:hidden;width:690px;padding:15px;background:url(" /images/icon_details.jpg") no-repeat scroll 627px 15px}
.InfoPage{width:302px}
.InfoPage span{width:150px;line-height:30px}
.InfoPage span span{width:150px;display:inline-block}
.AutoTopUp .InfoPage span span{width:220px;display:inline-block}
.AutoTopUp .InfoPage{width:auto}
.AutoTopUp .InfoPage input{width:75px}
.BgGreen{float:right;width:100px}
.BgGreen input,.BgGray input,.OrangeButton input{background:none;color:#fff;border:none;font-weight:700;cursor:pointer}
.OrangeLongBox{background:url(" /images/common/header_long_orange.jpg") no-repeat scroll right 0 transparent!important}
.GreenLongBox{background:url(" /images/common/header_long_green.jpg") no-repeat scroll right 0 transparent!important}
.PinkLongBox1{background:url(" /images/common/header_long_pink.jpg") no-repeat scroll right 0 transparent!important}
.InfoPage .labelclass{display:inline-block}
.InfoPage input{border:1px solid #000;line-height:22px;height:22px;width:200px;padding-left:5px;font-size:12px;font-weight:700}
.InfoPage span input{width:25px;border:none;position:relative;top:7px}
.AccountSecurtiy .labelclass{width:150px}
.AccountSecurtiy .InfoPage{width:auto}
.AccountTransaction .PinkLongBox .Div,div.AutoTopUp{background:url(" /images/common/icon_payments1.jpg") no-repeat scroll 627px 15px}
.AccountTransaction .PinkLongBox .Div .table1{margin:15px 0 25px}
.AccountTransaction .PinkLongBox .Div table tr td input{width:90px;margin:0 30px 0 15px;height:22px;line-height:22px}
.AccountTransaction .PinkLongBox .Div table tr td .BgGreen{position:static}
.AccountTransaction .PinkLongBox .Div .table2 tr td{height:30px;line-height:30px}
.AccountTransaction .PinkLongBox .Div .table2 tr:first-child td{background:#4C4C4C;color:#fff!important;border-right:1px solid #fff}
.AccountTransaction .PinkLongBox .Div .table2 tr td{padding:0 0 0 10px;font-weight:700;color:#4C4C4C;border-bottom:1px solid #E2E2E2}
.AccountTransaction .PinkLongBox .Div .table2 tr:last-child td{background:#fff;border:none;color:#4C4C4C;padding:15px 0 0}
.AccountMobileInternet .PinkLongBox .Div,.AccountRoaming .PinkLongBox .Div{background:url(" /images/common/icon_services1.jpg") no-repeat scroll 627px 15px}
.AccountMobileInternet .PinkLongBox .Div span,.AccountRoaming .PinkLongBox .Div span{background:url(" /images/common/arrow_li_green.gif") no-repeat 0 3px;padding:0 0 8px 10px;display:inline-block}
.AccountRoaming .PinkLongBox .Div span{line-height:20px;background-position:0 11px;width:671px;padding:7px 0 8px 10px}
.note{background:url(" /images/common/icon_plan.jpg") no-repeat scroll 627px 15px!important}
.AccountOverviewBg{background:url(" /images/common/accimg1.jpg") no-repeat left top;height:32px!important;border-bottom:1px solid #000}
.AccountOverviewBg:hover{background:url(" /images/common/accimg1.jpg") no-repeat left -30px;height:32px!important;border-bottom:1px solid #000}
.YourDetailsBg{background:url(" /images/common/accimg2.jpg") no-repeat left top;height:32px!important;border-bottom:1px solid #000}
.YourDetailsBg:hover{background:url(" /images/common/accimg2hover.jpg") no-repeat left top}
#leftNav .active .YourDetailsBg:hover,#leftNav .active .YourDetailsBg{background:url(" /images/common/accimg2pinkhover.jpg") no-repeat left 2px!important;color:#E7176D!important}
.YourPlanBg{background:url(" /images/common/accimg3.jpg") no-repeat left top;height:32px!important;border-bottom:1px solid #000}
.YourPlanBg:hover{background:url(" /images/common/accimg3hover.jpg") no-repeat left top}
#leftNav .active .YourPlanBg:hover,#leftNav .active .YourPlanBg{background:url(" /images/common/accimg3pinkhover.jpg") no-repeat left 2px!important;color:#E7176D!important}
.PaymentBg{background:url(" /images/common/accimg5.jpg") no-repeat left top;height:32px!important;border-bottom:1px solid #000}
.PaymentBg:hover{background:url(" /images/common/accimg5hover.jpg") no-repeat left top}
.PaymentBg1{background:url(" /images/common/accimg5.jpg") no-repeat left top;height:32px!important;border-bottom:1px solid #000}
.PaymentBg1:hover{background:url(" /images/common/accimg5hover.jpg") no-repeat left top}
#leftNav .active .PaymentBg:hover,#leftNav .active .PaymentBg{background:url(" /images/common/accimg5pinkhover.jpg") no-repeat left 2px!important;color:#E7176D!important}
#leftNav .active .PaymentBg1:hover,#leftNav .active .PaymentBg1{background:url(" /images/common/accimg5pinkhover.jpg") no-repeat left 2px!important;color:#E7176D!important}
.ServicesBg{background:url(../images/common/accimg4.jpg) no-repeat left top;height:32px!important;border-bottom:1px solid #000}
.ServicesBg:hover{background:url(../images/common/accimg4hover.jpg) no-repeat left top}
.airtimebg{background:url(../images/common/icons_menu_airtime.jpg) no-repeat left top;height:28px!important;border-bottom:1px solid #000}
.airtimebg:hover{background:url(../images/common/icons_menu_airtime.jpg) no-repeat left top}
#leftNav .active .ServicesBg:hover,#leftNav .active .ServicesBg{background:url(" /images/common/accimg4pinkhover.jpg") no-repeat left 2px!important;color:#E7176D!important}
#leftNav .active .airtimebg:hover,#leftNav .active .airtimebg{background:url(" /images/common/icons_menu_airtime.jpg") no-repeat left bottom!important;color:#E7176D!important}
#leftNav{margin:0;padding:0;display:inline-block}
#leftNav > li{height:33px;display:inline-block;margin:0;padding:0;list-style:none;width:219px;cursor:pointer;overflow:hidden;float:left}
#leftNav > li > a{height:32px;display:block}
#leftNav li{list-style:none;margin-bottom:0}
#leftNav li a{width:219px;float:left;line-height:31px}
#ie #leftNav li,#ie #leftNav > li,#ie #leftNav li ul{display:inline;background:#E5F8F6}
.leftNav-Sub li a{background:url(../images/common/arrow_li_green.gif) no-repeat scroll 8px 10px transparent;color:#7259AA;display:block;height:21px;list-style:none outside none;margin:0;padding:0 0 0 14px;text-decoration:none;width:143px}
#ie #leftNav li a{display:block;margin-bottom:3px}
.LeftContent .leftNav-Sub{background-color:#F5F5F5;float:left;font-size:12px;font-weight:400;height:auto;margin:0!important;padding:0 0 11px 20px;width:196px;border-bottom:1px solid #000}
#leftNav li ul li{overflow:hidden;padding:4px 0 4px 29px}
.leftNav-Sub li a{color:#7259AA;display:block;height:21px;list-style:none outside none;margin:0;padding:0 0 0 14px;text-decoration:none;width:143px}
.leftNav-Sub ul li{width:120px}
.leftNav-Sub li a:hover,.bundles-Sub li a:hover,.addOns-Sub li a:hover,.dayPlans-Sub li a:hover,.addOnsMonthly-Sub li a:hover{font-weight:700}
#leftNav li.active a{background-position:left bottom!important;color:#000;margin:0}
#leftNav li ul li a{width:176px}
#leftNav li.navFreesim > a{color:#000;font-size:13px;line-height:30px;padding-left:48px;height:30px;width:169px;font-weight:700}
#subOffer li.active a{background:url(../images/common/arrow_li_pink.gif) no-repeat left 11px!important}
#leftNav li.active a{background-position:left bottom;margin:0}
.bold{font-weight:700!important;color:#E7176D!important}
.txtinp{width:100px;height:22px;vertical-align:middle;float:left}
.txtlbl{float:left;width:90px;font-size:11px;font-weight:700;padding-top:5px}
.table3{width:100%;float:left;margin:0;padding:0;border:0}
.table3 tr{border:none}
.table3 tr th{background:#4C4C4C;color:#fff!important;border-right:1px solid #fff;padding:10px;font-weight:700}
.table3 tr td{padding:10px;font-weight:700;color:#4C4C4C;border-bottom:1px solid #E2E2E2;border-left:1px solid #E2E2E2;border-right:1px solid #E2E2E2;border-top:1px solid #E2E2E2}
.tablediv{width:640px;position:relative;float:left;margin:10px 20px;padding:0}
.tablediv tr td{padding:10px;font-size:13px;text-align:left;border:1px solid #ccc!important}
.tablediv tr td input{padding:5px}
.tablediv tr td label{font-size:12px;font-weight:700;padding:5px}
.attable{width:600px;float:left;margin:10px 0 0;padding:0}
.attable tr td{margin:0;padding:3px 10px;font-size:12px;float:left;background:#fff;text-align:left;width:280px;display:block}
.myaccount_popbox{width:600px;border:1px solid green}
.tabsmenu{float:left;margin:30px 0 0;width:680px}
.tabsmenu label{font-size:11px;padding:5px}
.tabsmenu input[type=text]{height:23px}
.flags_lang{display:inline;float:right;margin-right:0;width:80px}
.lbltext1{font-weight:700;float:left;display:inline;padding:3px}
.BgGreen{background:url(../images/common/button_170_green.jpg) repeat-x;color:#FFf;width:auto;top:5px;margin:15px 0 0 5px;padding:7px 10px;cursor:pointer;float:right;border:0}
.BgGray{background:url(../images/common/button_170_gray.jpg) repeat-x;width:100px;border:0;float:right;margin:5px 0 0 5px}
.buttonclass{float:right;position:relative;width:178px}