

.CoverPop-open,
.CoverPop-open body {
    height: auto;
}

#CoverPop_cover {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100000;
    -webkit-animation: fadeIn 3s ease-in;
    animation: fadeIn 3s ease-in;
    
    
}

    .CoverPop-open #CoverPop_cover {
        display: none;
    }


@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}


    .splash {
       /* background-color: rgb(47,99,135);
        background-color: rgba(47,99,135,.9);*/
        z-index:1000;
        position: fixed;
        height:auto;
        width:100%;
    }

      .splash-center {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    height: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: left;
    width: 30%;
    border:5px solid #18479f;
}


#CoverPop_cover p
{
     text-align:left;
}
.back
{
    background: url("/img/buttons/back.png") no-repeat scroll left top transparent;
    color: #00477C;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 31px;
    text-align: center;
    height: 31px;
    width: 78px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 4px;
    border: none;
}



.back:hover
{
    background: url("/img/buttons/back.png") no-repeat scroll left top transparent;
}