﻿.demo .numbers{background-color:#ffd;border:1px solid #eec;margin-bottom:32px;padding:16px 20px}
.demo .numbers p{margin-bottom:0}
.demo .numbers .list{margin-bottom:0}
.example{clear:both;margin-bottom:32px}
.cards{overflow:hidden;width:450px}
.cards li{-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s;background-image:url(../images/common/card_logos.png);background-position:0 0;float:left;height:32px;margin-right:3px;text-indent:-9999px;width:50px;list-style:none}
.cards li:last-child{margin-right:0}
.cards .visa_electron{background-position:350px 0}
.cards .mastercard{background-position:300px 0}
.cards .maestro{background-position:50px 0}
.cards .diners_club_international{background-position:149px 0}
.cards .solo{background-position:99px 0}
.cards .amex{background-position:49px 0}
.cards .visa.off{background-position:0 32px}
.cards .visa_electron.off{background-position:350px 32px}
.cards .mastercard.off{background-position:300px 32px}
.cards .maestro.off{background-position:50px 32px}
.cards .diners_club_international.off{background-position:149px 32px}
.cards .solo.off{background-position:99px 32px}
.cards .amex.off{background-position:49px 32px}
.vertical{overflow:hidden}
.vertical li{float:left;width:140px}
.vertical li .or{color:#aaa;float:left;font-size:12px;margin-left:-8px;margin-top:32px}
.vertical li:last-child{float:right;text-align:right}