#accordion-container{font-size:13px;background:#fff;padding:0;font-family:Lucida Sans,Arial}
.accordion-header{font-size:16px;background:#F8F4F5;margin:0;padding:20px 50px;border-bottom:1px solid #134E9C;cursor:pointer;color:#18479F;font-weight:700;font-family:Lucida Sans,Arial}
.active-header{background:url(../images/common/arrow-white.png) #134E9C;background-repeat:no-repeat;background-position:2% 50%;color:#fff}
.active-header:hover{background:url(../images/common/arrow-white.png) #134E9C;background-repeat:no-repeat;background-position:2% 50%;color:#fff}
.inactive-header{background:url(../images/common/arrowhome.png) #ebebeb;background-repeat:no-repeat;background-position:2% 50%}
.inactive-header:hover{background:url(../images/common/arrowhome.png) #f5f5f5;background-repeat:no-repeat;background-position:2% 50%}
.accordion-content{display:none;padding:20px;background:#fff;border:1px solid #ccc;border-top:0;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px}
.faqmenu1 #accordion-container{font-size:13px;background:none;padding:0;font-family:'Open Sans',sans-serif}
.faqmenu1 .accordion-header{font-size:16px;margin:0;padding:0 20px;border-bottom:1px solid #134E9C;cursor:pointer;color:#18479F;font-family:Lucida Sans,Arial}
.faqmenu1 .accordion-header span{border-left:1px solid #fff;display:block;padding:15px 10px}
.faqmenu1 .active-header{background:url(../images/common/sup-arrow1.png) #97C11F;background-repeat:no-repeat;background-position:10px 50%;color:#18479F;padding-left:50px;font-weight:700}
.faqmenu1 .inactive-header{background:url(../images/common/sup-arrow.png) #E1FA9F;background-repeat:no-repeat;background-position:10px 50%;padding-left:50px}
.faqmenu1 .inactive-header span{border-left:1px solid #134E9C;display:block;padding:15px 10px}
.faqmenu1 .inactive-header:hover{background:url(../images/common/sup-arrow.png) #E1FA9F;background-repeat:no-repeat;background-position:10px 50%}