.flexnav{-webkit-transform-style:preserve-3d;overflow:hidden;margin:0;width:100%;max-height:0;background:#444;padding-bottom:20px!important}
.flexnav.opacity{opacity:0}
.flexnav.flexnav-show{max-height:2000px;opacity:1}
.flexnav.one-page{position:fixed;top:50px;right:5%;max-width:200px}
.flexnav li{font-size:100%;position:relative;overflow:hidden;margin:0 7px;width:100%}
.flexnav li a{position:relative;display:block;padding:6px 10px 4px 35px;border-radius:0;box-shadow:none;z-index:2;overflow:hidden;color:#fff;border-bottom:1px solid rgba(0,0,0,0.15);background:#444}
.flexnav li:hover a{background:none;color:#fff}
.flexnav li:hover ul li a{color:#fff}
.flexnav li ul{width:100%;background:#323232}
.flexnav li ul li{font-size:100%;position:relative;overflow:hidden}
.flexnav li ul.flexnav-show li{overflow:visible}
.flexnav li ul li a{display:block;background:#444;font-size:13px;padding-left:25px}
.flexnav li ul li a:hover{background:#444;border-radius:0;box-shadow:none;color:#000}
.flexnav ul li ul li a{background:#323232}
.flexnav ul li ul li ul li a{background:#cbcbc9}
.flexnav .touch-button{position:absolute;z-index:999;top:0;right:0;width:100%;height:32px;display:inline-block;text-align:center;background:url(/images/phonea11.png) no-repeat 95% 7px}
.flexnav .touch-button:hover{cursor:pointer}
.flexnav .touch-button .navicon{position:relative;top:1.4em;font-size:12px;color:#666}
.menu-button{position:absolute;display:block;padding:1em;color:#222;cursor:pointer;background:url(../images/common/menu.png) no-repeat 90% 15px;top:-80px;left:-10px;width:10%}
.menu-button.one-page{position:fixed;top:0;right:5%;padding-right:45px}
.menu-button .touch-button{background:transparent;position:absolute;z-index:999;top:0;right:0;width:50px;height:50px;display:inline-block;text-align:center}
.menu-button .touch-button .navicon{font-size:16px;position:relative;top:1em;color:#666}
@media all and (min-width: 1025px) {
.flexnav{-webkit-transform-style:preserve-3d;overflow:visible;margin:0 auto;width:100%;max-height:0;background:#fff}
.flexnav.opacity{opacity:0}
.flexnav.flexnav-show{max-height:2000px;opacity:1}
.flexnav.one-page{position:fixed;top:50px;right:5%;max-width:200px}
.flexnav li{font-size:100%;position:relative;width:20%;overflow:hidden}
.flexnav li:nth-child(1){width:37%}
.flexnav li a{position:relative;display:block;z-index:2;overflow:hidden;color:#00436D;border-bottom:1px solid rgba(0,0,0,0.15)}
.flexnav li a:hover ul{display:block!important}
#li6 a,#li2 a{background:none;padding-left:15px;padding-right:15px}
.flexnav li:hover a{text-decoration:none;color:#464646;border-top-left-radius:10px;border-top-right-radius:10px;background:#EBEBEB}
.flexnav li.active:hover a{text-decoration:none;color:#464646;border-top-left-radius:10px;border-top-right-radius:10px;background:#EBEBEB}
.flexnav li.active:hover ul li a{background:#eee;color:#6e5ca8;border-radius:0}
.flexnav li.active:hover ul li a:hover{color:#000}
.flexnav li.active{text-decoration:none;color:#fff;border-radius:10px;box-shadow:2px 2px 3px 1px #a49ac6;background:#6e5ca8}
#li6:hover a,#li2:hover a{text-decoration:none;color:#fff;border-radius:10px;box-shadow:2px 2px 3px 1px #a49ac6;background:#6e5ca8}
.flexnav li.active ul li{text-decoration:none;color:#fff;border-radius:0;box-shadow:none;background:#eee;border-left:0}
.flexnav li.active a{color:#fff;background:none}
.flexnav li:hover ul li a{background:#eee!important;border-radius:0;color:#00436D;font-weight:500}
.flexnav li ul{width:200px;background:#eee;font-size:13px;overflow:hidden}
.flexnav li:nth-child(4) ul{width:400px;padding:10px 0}
.flexnav li:nth-child(4) ul li{width:180px;float:left;display:block}
.flexnav li ul li{font-size:100%;position:relative;overflow:visible}
.flexnav li ul.flexnav-show li{overflow:visible}
.flexnav li ul li a{display:block;background:#b2b2af;font-size:14px;width:200px}
.flexnav li ul li a:hover{background:#eee;border-radius:0;box-shadow:none;color:#000}
.flexnav ul li ul li a{background:#bfbfbc}
.flexnav ul li ul li ul li a{background:#cbcbc9}
.flexnav .touch-button{position:absolute;z-index:999;top:0;right:0;width:50px;height:50px;display:none;text-align:center}
.flexnav .touch-button:hover{cursor:pointer}
.flexnav .touch-button .navicon{position:relative;top:1.4em;font-size:12px;color:#666}
body.one-page{padding-top:70px}
.flexnav{overflow:visible}
.flexnav.opacity{opacity:1}
.flexnav.one-page{top:0;right:auto;max-width:1080px}
.flexnav li{position:relative;list-style:none;float:left;display:block;overflow:visible}
.flexnav li a{border-left:0 solid #acaca1;border-bottom:none}
.flexnav li a:hover{text-decoration:none;color:#464646;border-top-left-radius:10px;border-top-right-radius:10px;background:#EBEBEB}
.flexnav li > ul{position:absolute;top:auto;left:0;overflow:hidden;border-radius:10px;border-top-left-radius:0;box-shadow:1px 1px 2px #C2D6E1}
.flexnav li > ul li{margin:0;display:block;width:100%}
.flexnav li ul li > ul{margin-left:100%;top:0}
.flexnav li ul li a{border-radius:0;box-shadow:none;display:block;margin-left:0;font-weight:500;background:#ebebeb;color:#00436D;padding:8px 15px;font-size:13px}
.flexnav li ul.open{display:block;opacity:1;visibility:visible;z-index:1}
.flexnav li ul.open li{overflow:visible;max-height:100px}
.flexnav li ul.open ul.open{margin-left:100%;top:0}
.menu-button{display:none}
}
.oldie body.one-page{padding-top:70px}
.oldie .flexnav{overflow:visible}
.oldie .flexnav.one-page{top:0;right:auto;max-width:1080px}
.oldie .flexnav li{position:relative;list-style:none;float:left;display:block;width:20%;min-height:50px;overflow:visible}
.oldie .flexnav li:hover > ul{display:block!important;width:100%;overflow:visible}
.oldie .flexnav li:hover > ul li{width:100%;float:none}
.oldie .flexnav li a{border-left:1px solid #acaca1;border-bottom:none;overflow:visible}
.oldie .flexnav li > ul{position:absolute;top:auto;left:0;display:none;z-index:1;overflow:visible}
.oldie .flexnav li ul li ul{top:0}
.oldie .flexnav li ul li a{border-bottom:none}
.oldie .flexnav li ul.open{display:block;width:100%;overflow:visible}
.oldie .flexnav li ul.open li{width:100%}
.oldie .flexnav li ul.open ul.open{margin-left:100%;top:0;display:block;width:100%;overflow:visible}
.oldie .flexnav ul li:hover ul{margin-left:100%;top:0}
.oldie .menu-button{display:none}
.oldie.ie7 .flexnav li{width:19.9%}