﻿body{background:#fff}
input{outline:none}
.wrapper{width:1025px;margin:0 auto;padding:0}
.container1{width:1025px;float:left;margin:0 0 20px;padding:10px 0;border-bottom:1px solid #000}
.container{width:1025px;float:left;margin:0;padding:0;background:url(../99p/rates/images/123-lp.png) no-repeat bottom left #009FE3;border-radius:10px;box-shadow:3px 3px 5px #ccc}
.rates99{background: url(../99p/rates/images/99-lp.png) no-repeat bottom left #009FE3}
.lpmobile{display:none}
.lpleft{width:577px;float:left;margin:0;padding:0;min-height:597px}
.lpright{width:448px;float:left;margin:0;padding:0;background:#EBEBEB;min-height:597px;overflow:hidden;border-top-right-radius:10px;border-bottom-right-radius:10px}
.delightfreesim{margin:10px 0 0 8%}
.delightfreesim li{font-size:14px;height:170px;padding:0;width:220px;margin:0 10px 0 0}
.delightfreesim li label{color:#009FE3;display:block;font-size:18px;padding:100px 0 0;font-weight:700;text-align:center;top:0}
.delightfreesim li{background:url(../99p/rates/images/topupredio.png) no-repeat scroll center bottom transparent;font-size:14px;font-weight:400;height:140px;padding:0;float:left;width:185px;margin:0 10px 0 0;cursor:pointer}
.delightfreesim li.active2{font-size:14px;height:170px;padding:0}
.delightfreesim li:nth-child(1) span{background:url(../images/common/standard-sim.png) no-repeat scroll center top transparent;float:left;width:180px}
.delightfreesim li:nth-child(2) span{background:url(../images/common/nano-sim.png) no-repeat scroll center 30px transparent;float:left;width:160px}
.delightfreesim li:nth-child(2){width:160px}
.delightfreesim li span{height:194px}
.delightfreesim li label{font-size:14px;padding:100px 0 60px;cursor:pointer}
.delightfreesim li.active2{background:url(../99p/rates/images/topupredio_over.png) no-repeat scroll center bottom transparent;font-size:14px;height:140px;padding:0}
.delightfreesim li.active2 label{font-size:14px;padding:100px 0 60px;color:#009FE3;display:block;font-size:14px;padding:100px 0 60px;font-weight:700;top:0}
.delightfreesim li input{display:none}
.common_field_main{float:left;padding:7px 0;width:100%}
.common_field_main p{padding:15px}
.common_label{font-size:15px;font-weight:400;margin:0;padding:0 15px 0 0;text-align:right;line-height:33px;width:20%;float:left}
.common_input_box{font-size:15px;width:30%;float:left;font-weight:400;line-height:33px}
.common_input_box22{line-height:22px!important;padding-top:5px}
.common_error{margin:0 0 0 10px;width:40%;float:left}
.common_label_full{font-size:15px;font-weight:400;margin:10px 0 0;padding:0;text-align:left;line-height:22px;width:80%;float:left}
.common_label2{font-size:15px;font-weight:400;margin:0;padding:0 15px 0 0;text-align:right;line-height:33px;width:25%;float:left}
.common_input_box2{font-size:15px;width:30%;float:left;font-weight:400;line-height:33px}
.top_label{margin:0;padding:10px 0 0;text-align:right;width:30%;float:left;font-size:12px;line-height:18px}
.top_input{margin:0 0 0 10px;padding:0;width:60%;float:left;font-size:10px;line-height:15px}
.top_input8{line-height:38px!important}
.top_input81{clear:both!important;margin:10px 0 0 5px !important}
.top_input811{text-align:left!important}
.top_label1{margin:0;padding:0;width:35%;font-size:15px}
.topupright .top_label{margin:0;padding:0 0 0 20px;text-align:left;width:45%;font-weight:500}
.topupright .top_input{width:42%;padding-left:15px}
.top_input1{margin:0;padding:0 0 0 10px;width:55%}
.errormsg,.errMsg,.msgErr,#opc_error_message{background:url(../images/common/error.png) no-repeat scroll left 10px rgba(0,0,0,0);color:red;display:block;float:left;font-size:11px;line-height:24px;margin:0;padding:8px 0 0 25px;height:25px;clear:both;width:100%}
.input_value,#opc_dropdown{background-color:#fff;border:1px solid #bfc0c2;border-radius:10px;color:gray;float:left;font-size:15px;font-weight:400;line-height:20px;height:30px;margin:0;padding:4px 5px 4px 10px;width:94%}
#opc_dropdown,#dmuklp_ddlCountry{margin-top:15px;width:100%;height:40px}
#dmuklp_ddlCountry{margin-top:0}
.input_value1,#opc_input{background-color:#fff;border:1px solid #bfc0c2;border-radius:10px;color:gray;float:left;font-size:15px;font-weight:400;line-height:20px;height:30px;margin:0;padding:4px 5px 4px 10px;width:47%}
.common_buttons{background:url(../99p/rates/images/lp-button.png) no-repeat;border:medium none;border-radius:10px;color:#20398C;display:inline-block;font-size:18px;font-weight:700;line-height:38px;margin:0;text-align:center;text-decoration:none;width:267px;height:53px;cursor:pointer;line-height:53px}
.rateslp{width:577px;min-height:597px;border-radius:10px;display:block;position:relative;height:auto}
p{padding:10px 0;float:left}
a.teamsconditions_pluss::after{content:"[ + ]"}
a.teamsconditions_plusss::after{content:"[ - ]"}
.h1{color:#009FE3;font-family:Arial;font-size:20px;font-weight:700;line-height:32px;margin:0;padding:15px 0 0;text-align:center;width:100%}
.btnFind,#opc_button{background:#B6B6B6;color:#fff!important;border:medium none;float:right;font-size:15px;font-weight:700;height:40px;line-height:100%;margin:0;padding:3px 0;text-align:center;width:45%;cursor:pointer;border-radius:10px}
.footer{width:100%;float:left;padding:5px 0;margin:0 0 20px;border-top:1px solid #20398C;border-bottom:1px solid #20398C}
.footer p{width:100%}
.footer p span{float:right;text-align:right;display:block}
#toggleText{margin:15px 0}
#toggleText ul{list-style:disc;float:left;margin-left:30px;margin-bottom:20px}
#toggleText ul li{list-style:disc;padding:5px 0;float:left;width:100%;display:list-item;line-height:20px;position:relative;font-size:14px}
.righttext{float:right;display:block;margin:75px 0 0;padding:0;color:#20398C;font-size:20px}
@media only screen and (min-width:768px) and (max-width:1024px) {
body{background:#fff}
.wrapper{width:96%;margin:0 auto;padding:0}
.container1{width:100%;float:left;margin:0 0 20px;padding:10px 0;border-bottom:1px solid #000}
.container{width:100%;float:left;margin:0;padding:0;background:url(../99p/rates/images/123-lp.png) no-repeat bottom left #009FE3;background-size:55%;border-radius:10px;box-shadow:3px 3px 5px #ccc}
.lpright{width:45%;min-height:400px}
.lpleft{width:55%;min-height:400px}
.delightfreesim li:nth-child(1) span{float:left;width:120px}
.delightfreesim li{width:130px}
.delightfreesim li:nth-child(2){width:155px}
.delightfreesim li.active2 label{font-size:12px}
.delightfreesim li label{font-size:12px;padding:100px 0 60px;cursor:pointer}
.input_value{background-color:#FFF;border:1px solid #BFC0C2;border-radius:10px;color:gray;float:left;font-size:13px;font-weight:400;line-height:20px;height:22px;margin:0;padding:4px 5px 4px 10px;width:94%}
.top_label{margin:0;padding:10px 0 0;text-align:right;width:30%;float:left;font-size:13px}
.btnFind{background:none repeat scroll 0 0 #B6B6B6;color:#FFF!important;border:medium none;float:right;font-size:10px;font-weight:700;height:30px;line-height:100%;margin:0;padding:3px 0;text-align:center;width:44%;cursor:pointer;border-radius:10px}
.common_buttons{background:url(../99p/rates/images/lp-button.png) no-repeat scroll 0 0 transparent;background-size:100%;border:medium none;border-radius:10px;color:#20398C;display:inline-block;font-size:18px;font-weight:700;margin:0;text-align:center;text-decoration:none;width:220px;height:43px;cursor:pointer;line-height:43px}
.footer p{width:100%;font-size:12px}
}
@media only screen and (min-width:20px) and (max-width:479px) {
body{background:#fff}
.wrapper{width:96%;margin:0 auto;padding:0}
.container1{width:100%;float:left;margin:0 0 20px;padding:10px 0;border-bottom:1px solid #000}
.container{width:100%;float:left;margin:0;padding:0;background:url(../99p/rates/images/123-lp.png) no-repeat bottom left #009FE3;background-size:55%;border-radius:10px;box-shadow:3px 3px 5px #ccc}
.lpright{width:100%;min-height:250px}
.lpleft{width:100%;min-height:250px;display:none}
.lpmobile{display:block;float:left;clear:both;min-height:350px;width:100%}
.lpmobile img{max-width:100%}
.delightfreesim li:nth-child(1) span{float:left;width:120px}
.delightfreesim li{width:130px}
.delightfreesim li:nth-child(2){width:140px}
.delightfreesim li.active2 label{font-size:12px}
.delightfreesim li label{font-size:12px;padding:100px 0 60px;cursor:pointer}
.delightfreesim{margin:10px 0 0 3%;float:right}
.delightfreesim li:nth-child(2) span{width:140px}
.top_label{width:80%;text-align:left;padding-left:10px;padding-bottom:5px}
.top_input{margin:0 0 0 10px;padding:0;width:90%;float:left;font-size:10px;line-height:15px}
.common_field_main{float:left;padding:0;width:100%}
.righttext{margin-top:5px}
.footer p span{display:none}
.input_value1{background-color:#FFF;border:1px solid #BFC0C2;border-radius:10px;color:gray;float:left;font-size:15px;font-weight:400;line-height:20px;height:27px;margin:0;padding:4px 5px 4px 10px;width:47%}
}
@media only screen and (min-width:480px) and (max-width:767px) {
.input_value1{background-color:#FFF;border:1px solid #BFC0C2;border-radius:10px;color:gray;float:left;font-size:15px;font-weight:400;line-height:20px;height:27px;margin:0;padding:4px 5px 4px 10px;width:47%}
body{background:#fff}
.wrapper{width:96%;margin:0 auto;padding:0}
.container1{width:100%;float:left;margin:0 0 20px;padding:10px 0;border-bottom:1px solid #000}
.container{width:100%;float:left;margin:0;padding:0;background:url(../99p/rates/images/123-lp.png) no-repeat bottom left #009FE3;background-size:55%;border-radius:10px;box-shadow:3px 3px 5px #ccc}
.lpright{width:100%;min-height:250px}
.lpleft{width:100%;min-height:250px;display:none}
.lpmobile{display:block;float:left;clear:both;min-height:350px;width:100%}
.lpmobile img{max-width:100%}
.delightfreesim li:nth-child(1) span{float:left;width:120px}
.delightfreesim li{width:130px}
.delightfreesim li:nth-child(2){width:140px}
.delightfreesim li.active2 label{font-size:12px}
.delightfreesim li label{font-size:12px;padding:100px 0 60px;cursor:pointer}
.delightfreesim{margin:10px 0 0 24%;float:left}
.delightfreesim li:nth-child(2) span{width:140px}
.top_label{width:80%;text-align:left;padding-left:10px;padding-bottom:5px}
.top_input{margin:0 0 0 10px;padding:0;width:90%;float:left;font-size:10px;line-height:15px}
.common_field_main{float:left;padding:0;width:100%}
.righttext{margin-top:5px}
.footer p span{display:none}
.righttext{font-size:14px}
}