﻿@media screen and (min-width : 470px) and (max-width : 767px) {
body{background:#fff}
.width1130{width:100%;z-index:10;position:relative}
.errormsg2{display:none}
.cuscare{height:30px;margin:0 auto;display:none}
.header{background:#fff}
.wrapper{width:100%}
.logo{float:right;margin-right:25px}
.headtxt{display:none}
.banner{width:96%;position:relative;float:left;z-index:1;margin:0 2%;height:auto}
.banner img{width:100%}
.offer1{width:100%;background:#E50064;height:35px;float:left;position:relative}
.offer1 p{color:#fff;font-size:14px;padding:8px 10px;font-weight:600;font-family:Lucida Sans;line-height:22px;width:62%;text-align:left;float:left}
.offer1 h6{color:#F2F800;font-size:21px;padding:8px 7px;font-weight:700;font-family:Lucida Sans;line-height:22px;width:25%;float:left;text-align:right}
.intrates{float:left;margin:-37px 0 0;padding:0;height:auto;background:#18479F;z-index:1;position:relative;background-size:30%}
.ratesbox{width:100%;margin:0;padding:10px;margin-top:15px;background:#FBA51E;float:left}
.searchbtn{background:url(../images/common/search.png) no-repeat 0 0;width:24%;height:auto;color:#FFF;font-size:15px;line-height:38px;margin:0 0 0 5px;font-weight:500;font-family:Lucida Sans;background-size:100%}
.yellowbg{background:#FBA51E;float:left}
.bottombox{width:80%;height:auto;float:left;background:#fff;margin:20px 0 20px 5%;border-bottom-left-radius:60px;border-top-right-radius:60px;padding:15px}
.box1{width:100%;float:left;margin:20px 0 0;padding:0;position:relative;background:url(../images/common/box1.png) no-repeat 100% 40%;min-height:200px;clear:both;border-bottom:3px solid #FBA51E;background-size:45%;border-right:none}
.box1 h6{color:#009FE3;font-size:30px;font-weight:700;text-align:left;padding-left:15px}
.box1 p{color:#696969;font-size:17px;font-weight:500;text-align:left;padding-left:35px;padding-top:60px}
.box2{width:100%;float:left;margin:20px 0 0 1%;padding:0;position:relative;background:url(../images/common/box2.png) no-repeat bottom right;min-height:200px;border-bottom:3px solid #FBA51E;border-right:none}
.box2 h6{color:#43358A;font-size:40px;font-weight:700;text-align:left;padding-left:0}
.box2 p{color:#696969;font-size:20px;font-weight:700;text-align:left;padding-left:0;padding-top:0;line-height:22px}
.box3{width:100%;float:left;margin:20px 0 0 1%;padding:0;position:relative;background:url(../images/common/box3.png) no-repeat bottom right;min-height:200px;background-size:35%}
.box3 h6{color:#F73282;font-size:40px;font-weight:700;text-align:left;padding-left:0}
.globe{background:none;min-height:300px;background-size:30%}
.faqmenu{float:left;margin:1px 0 20px 2%;padding:0;min-height:150px;width:96%}
.footer1{width:96%;position:relative;float:left;margin:0 0 0 2%;padding:0}
.footer1 img{width:100%;margin:0}
.footer2{display:none}
.menu{width:100%;position:relative;float:left;margin:0;padding:0}
.nav{width:100%;float:left;margin:0;padding:0}
.menu ul li a{font-weight:700;color:#fff;font-size:18px;text-decoration:none;padding:10px 14px;background:#444;font-weight:bold;color:#FFF;font-size:15px;text-decoration:none;padding:10px 14px;background:none repeat scroll 0 0 #323232}
.delight{display:none}
.freesimbox1{width:93%;float:left;margin:10px 0 20px 10px;padding:0 0 10px 5px;box-shadow:3px 2px 5px #CCC;border:1px solid #CCC}
.freesimbox1 .top_input{margin-left:10px}
.freesimbox1 .top_label{margin-left:10px}
.top_label{margin:0;padding:5px 0 5px 13px;text-align:left;width:90%;float:left}
.top_input{margin:0;padding:0 0 0 10px;width:86%;float:left}
.input_value1{width:45%}
.freesimbox2{width:96%;margin:10px 0 50px 10px}
.input_value{width:100%}
.topupright .top_label{margin:0;width:90%;padding:0 0 10px 10px;font-weight:700}
.display{display:none}
.display1{display:block}
.display2{display:none}
.width900{width:93%;float:left;margin-left:10px}
.thankyoubox{width:90%;float:left;margin:20px 0 20px 10px}
.thankyoubox p b{padding:0;float:left;width:50%;display:inline-block}
.topup_left{margin:0 0 50px;box-shadow:3px 3px 3px #CCC;width:93%}
.display{display:block}
.stepOne li{margin:0 20px 0 0}
.topup_left .common_field_main{width:100%}
.top_label{margin:0;padding:5px 0 5px 3px}
.top_input{margin:0;padding:0}
.supportright{width:85%;margin:30px 0 0 5px}
.supportright .contact,.supportright .write{width:98%}
.leftnav{display:none}
.supportheader{width:100%}
.supportheader h3{padding-left:20px;font-size:21px}
.faqmenu1 #accordion-container{padding:0!important;width:100%}
.supportright{width:100%;margin:10px 0 0 5px}
.width700{width:100%;float:left;margin-left:19px}
.flexnav li a.topupbtn,.flexnav li a.loginbtn{background:none repeat scroll 0 0 #e50063;border:2px solid #fff;border-bottom-left-radius:10px;border-top-right-radius:10px;color:#fff;float:left;font-weight:700;height:15px;line-height:15px;margin-left:20px;margin-top:10px;text-align:center;width:78%;display:block}
.flexnav li a.loginbtn{background:#F29200}
 .splash-center
    {
        width:100%  !important;
        height:200px !important;
        overflow: scroll;
    }
.flexnav li a.loginbtn:hover{background:#F29200}
.flexnav li a.topupbtn:hover{background:#e50063}
.logbox1,.logbox2{width:87%;position:relative;float:left;padding:15px;min-height:320px;margin:10px 0 20px 10px;box-shadow:3px 2px 5px #CCC;border:1px solid #CCC}
.common_bullet li{width:92%}
.ratesbox1{width:94%;margin:20px 0 0}
.uktable h6{background:#17479E;padding:0;line-height:50px}
.uktab ul li,.uktab1 ul li{width:73%;font-size:11px;font-weight:700;float:none;color:#18479F;padding:10px 10px 0 5px;text-align:left;background:none repeat scroll 0 0 #C4E89E;border:1px solid #FFF;height:50px;line-height:15px}
.uktab ul li{background:#B4DE60;padding-top:10px;padding-top:10px;height:47px;margin-top:3px}
.uktab ul li:nth-child(1){background:#FBA51E;margin-top:0;height:50px}
.uktable,.uktable1.t-2,.uktable1{background:#D3F594;width:100%;height:auto;margin-bottom:10px;padding-bottom:30px}
.uktable1.t-2 .r-1{padding-top:0px!important}
.uktable1.t-2 li {width:21.5%;padding:16px 6px}
.uktable1.t-2 p {text-align:center;padding: 2.5% 0 0 0;}
.uktab ul,.uktab1 ul{width:91%;text-align:left;float:left;padding:0;margin:30px 0 0 5px}
.uktab,.uktab1{width:23%}
.uktab1 ul{width:110%}
.uktable1 h6{color:#FFF;font-size:20px;font-weight:700;padding:0;width:100%;text-align:center;float:left;background:orange;line-height:50px}
.uktable1 ul{margin:10% 5% 0;padding:0;width:35%;position:relative;float:left}
.uktable1 ul li,.uktable1.t-2 ul li{color:#18479F;font-size:20px;font-weight:700;padding:13px;text-align:center;float:none;width:100%;background:#B4DE60;margin:5px;height:60px}
.uktable1.t-2 li:nth-child(2),.uktable1.t-2 li:nth-child(3),.uktable1.t-2 li:nth-child(4){margin-left:5px;width:100%}
.uktable1{background:none repeat scroll 0 0 #EEFFCF;width:100%;height:auto;padding-bottom:30px}
.uktab1 ul li:nth-child(2){background:#DDF0B9}
.pad30{padding-top:0!important}
.pad30 li{background:#B6E682!important}
.uktab1 ul li{text-align:center;color:#444;font-size:11px}
.ratesbox{width:89%;margin:15px 0 0 2%}
.owl-next{margin-top:-22%}
.owl-prev{margin-top:-22%}
.intlist,.dclist{background:#D2E8A7;width:96%;height:auto;position:relative;float:left;padding-bottom:30px;margin-left:10px;background-size:100%}
.dclist{margin:20px 10px}
.intlist h2,.dclist h2{font-weight:700;color:#FFF;background:#18479F;text-align:center;font-size:14px;line-height:53px}
.dclist h2{line-height:23px;padding-bottom:20px}
.intlist ul li,.dclist ul li{float:left;margin:20px 0 0;padding:0;list-style:outside none none;width:32.5%}
.dclist h2 span{font-weight:500;font-size:14px}
.green1{width:44%;height:70px;position:relative;float:left;background:url(../images/common/green-1.png) no-repeat scroll 0 0 transparent;font-size:17px;color:#1642A3;margin:150px 10px 0 0;text-align:center;padding-top:12px;background-size:100%}
.fsim{width:45%;height:33px;position:relative;float:left;background:url(../images/common/freesim.png) no-repeat scroll 0 0 transparent;font-size:11px;color:#FFF;margin:4px 10px 0 0;text-align:center;padding-top:10px;background-size:100%}
.topup{width:45%;height:33px;position:relative;float:left;background:url(../images/common/topup.png) no-repeat scroll 0 0 transparent;font-size:11px;color:#FFF;margin:5px 10px 0 0;text-align:center;padding-top:10px;background-size:100%}
.fclist h2{line-height:30px;padding-top:10px;padding-bottom:10px;background:#18479F;font-size:18px}
.fclist h2 span{font-weight:500;font-size:15px}
.contactform .cdiv .clabel{width:80%;text-align:left;padding-left:0;float:left;display:block;line-height:40px}
.contactform .cdiv .cinput{width:85%;text-align:left;padding-right:0;float:left;display:block}
.contactform .cdiv .cinput input{width:100%;float:left;height:30px;border-radius:10px;border:1px solid #CCC}
.contactform .cdiv{width:100%;float:left;margin:15px 0 0 4%;position:relative}
.contactform .cdiv .cinput textarea{width:104%;float:left;height:140px;border-radius:10px;border:1px solid #CCC}
.dttable h6{background:#18479F;color:#FFF;font-size:18px;font-weight:700;padding:20px 0;width:96%;height:auto;text-align:center;float:left;margin:-20px 0 0 10px}
.dtbundle{background:url(../images/common/dtbundle1.png) no-repeat scroll 0 0 transparent;width:147px;height:185px;margin:0 0 0 30px;color:#18479F}
.dtbundle1{background:url(../images/common/dtbundle2.png) no-repeat}
.dtbundle2{background:url(../images/common/dtbundle3.png) no-repeat}
.dtbundle3{background:url(../images/common/dtbundle4.png) no-repeat}
.ctdiv h5{font-weight:500;font-size:15px;color:#fff;text-align:left;padding:40px 50px 30px}
.ctdiv p{font-weight:500;font-size:13px;color:#000;text-align:left;padding:0 20px 0 40px}
.cttable h6 span{font-size:13px;font-weight:500}
.rrtable{background:#AAD45B;width:96%;height:auto;position:relative;float:left;margin-left:5px;padding-bottom:10px;margin-bottom:20px}
.rrtable h6{color:#FFF;font-size:17px;font-weight:700;padding:25px 0;width:100%;text-align:center;float:left;background:#E50064;line-height:20px}
.rtabdiv,.rrtable2 .rtabdiv{width:132px;float:left;margin:10px 5px;padding:0;background:url(../images/common/srom-mob.png) no-repeat;height:132px}
.rtabdiv h5{font-weight:700;font-size:14px;color:#FFF;text-align:center;padding:10px 18px;width:57%}
.rtabdiv p{font-weight:700;font-size:20px;color:#000;text-align:center;padding:23px 0 0}
.rrtable1 h6{background:#18479F}
.rrtable2 h6{background:#009DE0}
.rrtable2 .rtabdiv{background:url(../images/common/bottom.png) no-repeat;width:90%;background-size:100%;margin-left:5%}
.rrtable2 .rtabdiv h5{width:90%}
.dbtable{background:#ABD45A;width:96%;height:auto;float:left;position:relative;padding-bottom:30px;margin-bottom:60px;margin-top:60px}
.dbtable h6{color:#FFF;font-size:20px;font-weight:700;padding:30px;width:35%;text-align:center;background:#FBA51E;margin:-37px 21% 11px;border-top-left-radius:15px;border-bottom-right-radius:15px;border:1px solid #fff}
.dbtab{width:38%;float:left;margin:5%;padding:0 0 0 1%;background:#FBA51E;border-top-left-radius:15px;border-bottom-right-radius:15px;border:1px solid #fff}
.dbtab p{width:90%;font-size:12px;color:#FFF;text-align:center;padding:25px 20px 25px 0}
.dbtable1 .dbtab,.dbtable1 h6{background:#009DE0}
.dbtable2 .dbtab,.dbtable2 h6{background:#47B053}
.dbtable3 .dbtab,.dbtable3 h6{background:#18479F}
.width87{width:87%}
.fdtable{background:#D5F592;width:96%;min-height:303px;height:auto;float:left;padding-bottom:30px;overflow:hidden}
.fdtable h6,.fdtable h6.t-2{color:#FFF;font-size:25px;font-weight:700;padding:25px 0 20px;width:100%;float:left;background:#18479F;text-align:center}
/*.fdtable h6.t-2{width:16.8%;padding:28px 0 0 0;text-align:center;}*/
.fdtable1{width:93%;float:left;position:relative;margin:16px 20px 0 3%;padding:0}
.fdtable1 table tr th,.fdtable1.sub table tr th{font-size:15px;font-weight:700;text-align:center;color:#18479F;width:33%;padding:23px 0;background:#AAD45B;border:1px solid #fff}
.fdtable1 table tr td{font-size:15px;font-weight:700;text-align:center;color:#000;width:33%;padding:24px 10px;background:#C8EAA0;border:1px solid #fff}
.fdtable1.sub table tr:nth-child(3) td,.fdtable1.sub table tr:nth-child(4) td {padding:16px 10px;}
.ratesbox1 input{width:83%}
.roamingrates .bluebg{padding-top:90px;padding-bottom:30px}
.intbottom .bluebg{padding-top:70px;padding-bottom:30px}
.dbbottom .bluebg{padding-top:150px;padding-bottom:30px}
.ukrbottom .bluebg{padding-top:220px;padding-bottom:10px}
.dpgbottom .bluebg{padding-top:20px;padding-bottom:10px;margin-top:0}
.bluebg{padding-top:110px;padding-bottom:30px}
.width60{width:60%}
.login_left_input{padding:0;margin:2% 0 0;width:90%}
.login_left_input .common_buttons{width:103%;padding-left:0;padding-right:15px}
.crates{clear:both;position:relative;margin:10px 21%}
.footer3{width:100%;float:left;margin-top:30px}
.footer3 .width900{margin:0;width:100%}
.footer3 ul{float:left;background:#F8F4F5;width:100%}
.footer3 ul li{font-size:12px;width:20%;text-align:center;float:left;padding:10px 0}
.footer3 ul li:nth-child(1){width:35%}
.footer3 p{background:#C4C4C4;min-height:50px;float:left}
.display3{display:block}
.displaypc{display:none}
.displaymobile{display:block}
.registerbox .common_field_main{width:100%;float:left;clear:both}
.registerbox{margin:0 0 50px;box-shadow:3px 3px 3px #CCC;width:92%;float:left;padding:10px;border:1px solid #CCC}
.registerbox .top_input select{height:40px;width:106%}
.width31{width:31%!important}
.dismob{display:inline}
.freesimbox1{height:auto;width:96%}
.ukr{width:66%;float:right;margin:30px 10% 0 0;padding:0}
.ukr li{font-weight:700;float:left;width:33%}
.intbottom .bluebg{padding-top:90px;padding-bottom:30px;margin-top:-180px}
.intbottom .green1{margin-top:100px}
.intbottom .fsim{margin-top:30px}
.intbottom .topup{margin-top:30px}
.roamingrates .green1{margin-top:80px}
.roamingrates .fsim{margin-top:30px}
.roamingrates .topup{margin-top:30px}
.accordion-content{width:91%!important;border-radius:0}
.marleft150{margin-left:20px!important}
.fsimbanner img{display:none}
.fsimbanner2 h3{font-size:15px;font-weight:700;text-align:left;width:66%;float:left;padding-top:10px;padding-left:15px;color:#464646}
.fsimbanner2 img{display:none}
.fsimbanner{width:96%;height:auto;position:relative;float:left;background:none repeat scroll 0 0 transparent;border:2px solid #18479F;z-index:9999;margin:-2px 0 0 2%}
.fsimbanner2{width:96%;height:auto;position:relative;float:left;background:none;margin-left:2%;border:2px solid #18479F;z-index:100}
.fsimbanner{background:#fff}
.fsimbanner2{background:#fff}
.dbbg2{background:none repeat scroll 0 0 #18479F;margin-top:-40px;padding-top:0;min-height:100px;z-index:-2;margin-bottom:10px}
.dbbg3{background:none repeat scroll 0 0 #18479F;margin-top:-40px;padding-top:0;min-height:100px;z-index:2;margin-bottom:10px}
.topup_left .common_buttons{width:104%}
.ul4 li:nth-last-child(1){text-align:right;padding-right:0;width:40%}
.width72{width:72%!important}
.ul3 li span,.ul4 li span{padding:0;font-size:13px;font-weight:700;float:right;width:69%;line-height:16px;padding-top:9px}
.ul3 li,.ul4 li{width:49%;font-size:13px}
.top_input{margin:0;padding:0;line-height:18px}
.registerbox .common_field_main .top_input a.width72{width:83%!important}
.login_left_input .common_buttons a.width72{width:106px}
.owl-prev{margin-top:-20%;float:left;position:relative;z-index:100;text-indent:-99999px;width:30px;height:30px;margin-left:10px;background:url(../images/common/prev.png) no-repeat scroll 0 0 transparent;background-size:100%}
.owl-next{margin-top:-20%;float:right;margin-right:10px;position:relative;z-index:100;text-indent:-99999px;width:30px;height:30px;background:url(../images/common/next.png) no-repeat scroll 0 0 transparent;background-size:100%}
.intable h6{background:#17479E;padding:0;line-height:50px}
.intab ul li,.intab1 ul li{width:73%;font-size:11px;font-weight:700;float:none;color:#18479F;padding:10px 10px 0 5px;text-align:left;background:none repeat scroll 0 0 #C4E89E;border:1px solid #FFF;height:50px;line-height:15px}
.intab ul li{background:#B4DE60;padding-top:10px;padding-top:10px;height:47px;margin-top:3px}
.intab ul li:nth-child(1){background:#FBA51E;margin-top:0;height:50px;width:73%}
.intable{background:#D3F594;width:100%;height:auto;margin-bottom:10px;padding-bottom:30px}
.intab ul,.intab1 ul{width:91%;text-align:left;float:left;padding:0;margin:0 0 0 5px}
.intab,.intab1{width:23%}
.intab1 ul{width:110%}
.intab1 ul li:nth-child(2){background:#DDF0B9}
.pad30{padding-top:0!important}
.pad30 li{background:#B6E682!important}
.intab1 ul li{text-align:center;color:#444;font-size:11px}
.ratesbox .select-country-popup{width:73%!important}
.country-offer-dd.open .select-country-popup{border:2px solid #D1D3D4;margin-top:4px}
.dbbg1{background:none repeat scroll 0 0 #18479F;margin-top:-100px;padding-top:60px;min-height:80px;z-index:-1}
.dbbottom .bluebg{padding-top:190px;padding-bottom:30px;min-height:20px}
.fsimbtn{background:url(../images/common/fsim-btn.png) no-repeat 0 0;width:120px;height:35px;background-size:100%;color:#1642A3;font-size:11px;line-height:35px;margin:3px 0 3px 8px}
.fsimbanner h3{font-size:15px;font-weight:700;text-align:left;width:66%;float:left;padding-top:10px;padding-left:15px;color:#464646}
.dtbundlebox{background:url(../images/common/dtb.png) no-repeat scroll left bottom transparent;width:212px;float:left;margin:20px auto 0;height:250px}
.dttable{background:#AAD45B;width:96%;height:auto;bottom:-260px;float:left;position:relative;padding-bottom:30px;margin-left:3%}
.dbundle .lightgreen{background:#E7F1CE;margin-top:0;min-height:30px;padding-top:280px;padding-bottom:15px;z-index:-1}
.ybbg1 .intrates1 h1{padding-top:15px}
.fnctbotom .lightpink{background:none repeat scroll 0 0 #EEC7D9;margin-top:0;min-height:30px;padding-top:76px;padding-bottom:15px;z-index:-1}
.fcdiv{background:url(../images/common/fct1.png) no-repeat scroll 0 0 transparent;float:none;width:319px;height:185px;position:relative;margin:30px auto}
.fclist{background:#D2E8A7;width:94%;height:auto;padding-bottom:30px;bottom:-60px;position:relative;margin-top:-60px;margin-left:3%}
.dbbg{background:none repeat scroll 0 0 #00ADEF;margin-top:-100px;padding-top:58px;min-height:100px;z-index:1}
.dclist{margin:-140px 0 20px 10px}
.ctdiv{width:292px;float:none;margin:80px auto 0;padding:0;background:url(../images/common/crmobile.png) no-repeat scroll 0 0;min-height:257px;height:300px}
.martop0{margin-top:0}
.cttable{background:#AAD45B;width:96%;height:auto;float:left;position:relative;bottom:-120px;margin-top:-120px;padding-bottom:20px;margin-left:3%}
.cttable h6{color:#fff;font-size:18px;font-weight:700;padding:15px 0 20px 10px;width:98%;float:left;text-align:center;background:#18479F}
.intrates h1,.intrates1 h1{font-size:30px;color:#fff;text-align:center;padding-top:65px;padding-bottom:10px;font-family:Lucida Sans;line-height:30px}
.supportheader h1{padding-left:20px;font-size:30px}
.contactform h5{font-size:15px;font-weight:700;color:#18479F;text-align:center;width:99%;line-height:55px;background:#fff;border:#32ABDE 1px solid;margin-left:0}
.contactform{background:#AADEF4;width:97%;height:auto;position:relative;float:left;bottom:-200px;margin-top:-150px;z-index:15;margin-left:1%}
.contactform p{padding-left:20px}
.contactform .cdiv .cinput input[type="submit"]{width:34%;float:left;height:60px;border-radius:10px;border:0 solid #CCC}
.faqmenu1 .accordion-content{width:90.5%!important}
.open-content p{padding-left:25px}
.flexnav li:hover ul li a{color:#FFF;padding-left:25px}
.ratesbox input{width:57%;float:left;border:1px solid #000;height:32px;border-radius:10px;background:url(../images/common/icon1.png) no-repeat 6px 4px #fff;color:#666;font-size:16px}
.modalBackground{background-color:#000;filter:alpha(opacity=90);opacity:.8;overflow:hidden}
.modalPopup{background-color:#FFF;border-radius:4px;padding:10px;overflow:hidden;width:87%;height:200px;min-height:250px;text-align:left;overflow-y:scroll;overflow-x:hidden}
.modalPopup2{background-color:#FFF;border-radius:4px;padding:10px;overflow:hidden;width:87%;height:200px;min-height:250px;text-align:left;overflow-y:scroll;overflow-x:hidden}
.main_box5{width:95%;position:relative;float:left;margin:0;padding:0;font-size:14px}
.tfp{width:100%;float:left;padding-top:15px;font-size:13px;color:#666}
.graybg p{font-size:13px;font-weight:700;color:#111;padding:5px 0;width:100%;text-align:center}
.tftable{background:#D3F594;width:100%;height:auto;margin-bottom:10px;padding-bottom:30px}
.tftable h6{background:#17479E;padding:0;line-height:50px}
.tftab ul li,.tftab ul li{width:73%;font-size:11px;font-weight:700;float:none;color:#18479F;padding:10px 10px 0 5px;text-align:left;background:none repeat scroll 0 0 #C4E89E;border:1px solid #FFF;height:50px;line-height:15px}
.tftab ul li{background:#B4DE60;padding-top:10px;padding-top:10px;height:47px;margin-top:3px}
.tftab ul,.tftab1 ul{width:91%;text-align:left;float:left;padding:0;margin:0 0 0 5px}
.tftab,.tftab1{width:23%}
.tftab1 ul,.tftab ul{width:110%;margin:30px 0 0}
.tftab ul li,.tftab1 ul li{width:73%;font-size:14px;font-weight:700;float:none;color:#18479F;padding:10px 10px 0 5px;text-align:center;background:none repeat scroll 0 0 #C4E89E;border:1px solid #FFF;height:50px;line-height:15px}
.tftab ul li{padding:7px 10px 0 5px}
.tftab1 ul li{color:#666}
.tftab1,.tftab{margin:0 0 0 7%;width:40%}
.jbonus{padding:15px 45px;width:82%}
.jbpop{width:100%;padding:10px 20px}
.jbpop2{width:100%;padding:10px 20px}
.jbpop h3{font-size:20px;font-weight:700}
.jbpop h3.green{font-size:20px;font-weight:700;padding-bottom:20px;padding-left:0}
.jbpop p{width:90%}
.table_companynumber{margin:0 0 30px;width:90%}
.table_companynumber tr th{padding:10px 0;font-weight:700;font-size:15px;background:#18479F;color:#fff;text-align:center}
.table_companynumber tr td{padding:10px 0;font-weight:500;font-size:15px;background:#E5F4CB;text-align:center;border:1px solid #fff}
.contact_sus img{float:left}
.contact_sus span{float:left;width:86%;line-height:20px}
.fdtable1 table tr td span{color:#464646;float:left;font-size:10px;padding-right:15px;padding-top:2px;position:absolute;margin-left:0;margin-top:7px}
.intab ul li:nth-child(3){width:75%;padding-left:2px}
.compare-us{width:100px;height:30px;float:left;left:20px;padding:0;background:url(../images/common/compare-us.png) no-repeat scroll 0 0 transparent;background-size:100%;color:#FFF;line-height:30px;text-align:center;font-weight:700;position:absolute;bottom:60px;top:120px;font-size:15px}
.left50{width:96%;margin-left:2%;float:left}
.right50{width:96%;margin-left:2%;float:left}
.seoh1{color:#009fe3;float:left;font-size:24px;font-weight:700;margin:0;padding:20px 0;width:100%}
.seoh2{color:#009fe3;float:left;font-size:25px;font-weight:700;margin:0;padding:20px 0;width:100%;line-height:30px}
.seoh2white{color:#fff;float:left;font-size:24px;font-weight:700;margin:0;padding:2% 0 0 2%;width:96%}
.seoh2p{color:#fff;float:left;font-size:14px;line-height:18px;margin:0;width:96%;padding:2% 0 2% 2%;line-height:22px}
.seoul{float:left;font-size:14px;margin:0 0 20px 20px;padding-bottom:10px;padding-top:10px;width:90%}
.seoul li{float:left;font-size:14px;margin:0;width:100%;list-style:disc;padding:6px}
.left50 .fclist{width:100%;float:left;background-size:100%;margin-left:0;min-height:220px}
.left50 .fclist h1{line-height:30px;font-size:20px;padding-top:8px;color:#fff;text-align:center;font-weight:700;background:#18479F;padding-bottom:25px}
.left50 .fcdiv{background:url(/cheap-calls/images/fct1.png) no-repeat scroll 0 0 rgba(0,0,0,0);float:left;height:130px;margin:20px 0 0 20px;background-size:100%;position:relative;width:240px}
.left50 .fcdiv h4{color:#fff;font-size:13px;font-weight:700;padding:20px 0;text-align:center;width:93%}
.left50 .fcdiv h5{color:#fff;font-size:30px;font-weight:700;padding:0 0 20px;text-align:center;width:100%}
.left50 .dclist{background:#D2E8A7;background-size:100%;min-height:430px;margin:70px 0 0;position:relative;width:100%;padding:0 0 20px;height:auto;bottom:0}
.left50 .dclist h2{color:#fff;font-size:18px;font-weight:700;line-height:20px;text-align:center;margin:0;padding-top:15px}
.left50 .dclist h2 span{font-size:20px;font-weight:500}
.left50 .dclist ul{float:left;list-style:outside none none;margin:0;padding:0;width:100%}
.left50 .dclist ul li img{max-width:70px}
.left50 .dclist ul li{margin:20px 0 0}
.right50 .freesimbox1{border:1px solid #ccc;box-shadow:3px 2px 5px #ccc;float:left;margin:10px 0 20px;padding:0;width:98%}
.bannerseo{width:96%;position:relative;float:left;z-index:1;margin:0 2%;height:auto;background:#fff;border:2px solid #E50064;background-size:100%}
.bannerindia_baloon{font-size:16px;line-height:18px;margin:50px 14px 0 0;padding:8px 20px;font-weight:700;background:#E50064;text-align:right;float:right;border-radius:10px;color:#fff}
.cheap_header_sub1{width:54%}
.social{display:none}
.wrapper-Lp{width:90%;margin:0 auto;position:relative}
.wrapper-Lp .freesimbox1,.wrapper-Lp .freesimbox2{margin-left:0;width:100%}
.wrapper-Lp .logo{margin:20px 0 0}
.fsimbanner_joiningbonus {
   width: 96%;
    height: auto;
    position: relative;
    float: left;
    background: none;
    margin-left: 2%;
    border: 2px solid #18479F;
    z-index: 100;
        margin-top: -108px;
}
.fsimbanner_joiningbonus img {
    display: none;
}
.fsimbanner_joiningbonus {
    background: #fff;
}
.fsimbanner_joiningbonus h3 {
    color: red;
    padding: 14px;
    font-size: 22px;
    text-align: center;
    line-height: 27px;
}
.fsimbtn1 {
    background: url(../images/common/fsim-btn.png) no-repeat 0 0;
    width: 206px;
    height: 65px;
    background-size: 100%;
    color: #1642A3;
    font-size: 15px;
    line-height: 35px;
    margin: 3px 0 3px 8px;
    /* display: inline-block; */
    padding: 14px;
        float: initial;
}
}