﻿@media print {
*{-webkit-print-color-adjust:exact}
.wrapper{width:1130px;margin:0 auto;position:relative}
input:focus{outline:none}
.cuscare{height:30px;margin:0;width:65%;float:left}
.header{height:135px;position:relative;float:left;z-index:100}
.delight{width:179px;height:142px;position:absolute;right:-16px;top:10px;z-index:-1}
.logo{width:193px;height:99px;position:relative;margin:20px 0 0;padding:0}
.headtxt{font-size:40px;font-weight:700;color:#D50E69;padding-right:145px;padding-top:10px;text-align:right}
.nav{width:750px;float:left;margin:0 0 0 40px;padding:0}
.menu{width:500px;position:relative;float:left;margin:15px 0 0;padding:0}
.menu ul{padding:0;padding:0;list-style:none}
.menu ul li{display:block;float:left;margin:0;padding:0}
.menu ul li a{font-weight:700;color:#696969;font-size:16px;text-decoration:none;padding:20px 25px;background:url(../images/common/bullet.png) no-repeat 0 23px!important;cursor:pointer}
.menu ul li a .flaxnaw-show{display:none!important}
.menu ul li:nth-child(1) a{background-image:none;padding-right:5px;padding-left:14px}
.topupbtn,.loginbtn,.fsimbtn,.searchbtn{width:104px;height:43px;background:url(../images/common/topup-btn.png) no-repeat 0 0!important;float:left;text-align:center;color:#fff;font-weight:700;line-height:43px;margin-top:25px}
.loginbtn{background:url(../images/common/login-btn.png) no-repeat 0 0!important;width:111px;color:#1642A3}
.flexnav li a.topupbtn,.flexnav li a.loginbtn{display:none}
.fsimbtn{background:url(../images/common/fsim-btn.png) no-repeat 0 0!important;width:206px;height:65px;color:#1642A3;font-size:20px;line-height:65px;margin:5px 0 0 18px}
.searchbtn{background:url(../images/common/search.png) no-repeat 0 0!important;width:131px;height:50px;color:#fff;font-size:20px;line-height:50px;margin:2px 0 0 5px;font-weight:500;font-family:Lucida Sans}
.banner{width:881px;position:relative;float:left;z-index:1;height:318px;display:block}
.fsimbanner{width:242px;height:318px;position:absolute;right:0;margin-top:-418px;float:right;z-index:999;background:url(../images/common/fsim.png) no-repeat 0 0!important}
.fsimbanner h3{font-size:23px;font-weight:700;text-align:center;width:100%;float:left;padding-top:25px;color:#606060}
.fsimbanner img{text-align:center;margin:0 auto;margin-left:15%;padding-top:4%}
.offer1{width:242px;background:url(../images/common/pink-bg.png) no-repeat 0 0!important;height:91px;float:left;position:relative}
.fsimbanner2{width:242px;height:318px;position:relative;float:right;background:url(../images/common/fsim.png) no-repeat 0 0!important}
.fsimbanner2 h3{font-size:23px;font-weight:700;text-align:center;width:100%;float:left;padding-top:25px;color:#606060}
.fsimbanner2 img{text-align:center;margin:0 auto;margin-left:15%;padding-top:4%}
.offer1 p{color:#fff;font-size:17px;padding:5px 10px;font-weight:500;font-family:Lucida Sans;line-height:22px;width:96%;text-align:center}
.offer1 h6{color:#F2F800;font-size:30px;padding:0 10px;font-weight:700;font-family:Lucida Sans;line-height:22px;width:96%;text-align:center}
.intrates{float:left;margin:0;padding:0;min-height:180px}
.dpgrates{float:left;margin:0;padding:0 0 50px}
.globe{background:url(../images/common/globe-new.png) no-repeat center left!important;min-height:180px}
.intrates1{float:left;margin:0;padding:0;height:auto;padding-bottom:15px}
.intrates h1,.intrates1 h1,.dpgrates h1{font-size:30px;color:#fff;text-align:center;padding-top:20px;font-family:Lucida Sans;font-weight:700;line-height:25px}
.ratesbox,.ratesbox1{width:680px;margin:0 0 0 215px;padding:10px;margin-top:15px;background:#FBA51E;float:left}
.ratesbox1{width:680px;margin:20px 0 0 90px}
.ratesbox input,.ratesbox1 input{width:470px;float:left;border:1px solid #000;height:45px;padding-left:50px;padding-right:20px;border-radius:10px;background:url(../images/common/icon1.png) no-repeat 10px 10px #fff!important}
.ratesbox1 select{width:100%;float:left;border:1px solid #000;height:45px;padding-left:15px;padding-right:0;border-radius:10px}
.ratesbox1 select:focus{outline:none}
.bottombox{width:900px;height:220px;float:left;background:#fff;margin:10px 0 0 115px;border-bottom-left-radius:60px;border-top-right-radius:60px}
.box1{width:31%;float:left;margin:20px 0 0;padding:0 1% 0 0;position:relative;background:url(../images/common/box1.png) no-repeat 100% 40%!important;min-height:190px;border-right:3px solid #FBA51E}
.box1 h6{color:#009FE3;font-size:30px;font-weight:700;text-align:left;padding-left:15px}
.box1 p{color:#696969;font-size:15px;font-weight:600;text-align:left;padding-left:35px;padding-top:60px}
.box2{width:31%;float:left;margin:20px 0 0 1%;padding:0 1% 0 0;position:relative;background:url(../images/common/box2.png) no-repeat bottom right!important;min-height:190px;border-right:3px solid #FBA51E}
.box2 h6{color:#43358A;font-size:40px;font-weight:700;text-align:left;padding-left:0}
.box2 p{color:#696969;font-size:20px;font-weight:700;text-align:left;padding-left:0;padding-top:0;line-height:22px}
.box3{width:30%;float:left;margin:20px 0 0 1%;padding:0;position:relative;background:url(../images/common/box3.png) no-repeat bottom right!important;min-height:200px}
.box3 h6{color:#F73282;font-size:40px;font-weight:700;text-align:left;padding-left:0}
.box3 p{color:#696969;font-size:16px;font-weight:700;text-align:left;padding-left:0;padding-top:0;line-height:20px}
.faqmenu{float:left;margin:0 0 0 115px;padding:0;min-height:150px;width:900px}
.footer1{width:900px;position:relative;float:left;margin:10px 0 0 115px;padding:0}
.footer1 p{font-size:11px}
.footer1 img{margin:10px 0 10px 50px}
.footer2{width:900px;position:relative;float:left;margin:0 0 0 115px;padding:0;background:#F8F4F5;padding-bottom:30px}
.footer2 ul{margin:25px 20px 0 50px;float:left;padding:0}
.footer2 ul li{font-size:15px;display:block;color:#111;padding:4px 0}
.footer2 ul li a{color:#464646}
.graybg p{font-size:12px;font-weight:700;color:#111;padding:5px 0}
.graybg p a{color:#111}
#owl-demo1 .itemnew img{width:100%;height:auto;position:relative;z-index:0}
.itemnew span{display:block;font-size:40px;position:absolute;top:100px;left:50px;z-index:10;width:40%;font-weight:600;line-height:50px;color:#72559f;text-align:left}
.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel{display:none;position:relative;width:881px;float:left;-ms-touch-action:pan-y}
.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px,0px,0px)}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel .owl-item{float:left}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor:pointer}
.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.grabbing{cursor:url(grabbing.png) 8 8,move}
.owl-carousel .owl-wrapper,.owl-carousel .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
#owl-demo1 .itemnew img{width:100%;height:auto;position:relative;z-index:0}
.itemnew span{display:block;font-size:40px;position:absolute;top:100px;left:50px;z-index:10;width:40%;font-weight:600;line-height:50px;color:#72559f;text-align:left}
.whitebg{background:#fff;z-index:-2}
.ukrbottom .bluebg{background:#00ADEF;margin-top:5px;padding-top:10px;padding-bottom:15px;min-height:100px;z-index:-1}
.bluebg{background:#00ADEF;margin-top:-200px;padding-top:100px;min-height:200px;z-index:-1}
.bluebgseo{background:#00ADEF;margin-top:20px;padding-top:10px;min-height:200px;z-index:-1}
.roamingrates .bluebg{padding-top:90px;padding-bottom:30px;margin-top:-20px}
.intbottom .bluebg{padding-top:90px;padding-bottom:30px;margin-top:-180px}
.roamingrates .green1,.roamingrates .fsim,.roamingrates .topup{margin-top:80px}
.intbottom .green1,.intbottom .fsim{margin-top:100px}
.intbottom .topup{margin-top:145px}
.roamingrates .topup{margin-top:125px}
.dbbottom .bluebg{padding-top:220px;padding-bottom:0;min-height:50px}
.dbbottom .bluebg .teamsconditions_plusss{color:#fff}
.dbbottom .bluebg .teamsconditions_pluss{color:#fff}
.bluebg .teamsconditions_plusss{color:#fff}
.bluebg .teamsconditions_pluss{color:#fff}
.dbbg{background:#00ADEF!important;margin-top:-100px;padding-top:100px;min-height:100px;z-index:1}
.dpgbottom .bluebg{padding-top:20px;padding-bottom:10px;margin-top:0;min-height:70px}
.dpcpage .dbbg1{background:#18479F!important;margin-top:20px;padding-top:10px;min-height:150px;z-index:-1}
.dbbghome{background:#18479F!important;-webkit-print-color-adjust:exact;margin-top:-100px;padding-top:100px;min-height:100px;z-index:2}
.dbbg1{background:#18479F!important;margin-top:-100px;padding-top:100px;min-height:100px;z-index:-1}
.dbbg2{background:#18479F!important;margin-top:-100px;padding-top:100px;min-height:100px;z-index:-1}
.dbbg3{background:#18479F!important;margin-top:-100px;padding-top:100px;min-height:100px;z-index:2}
.dbbg4{background:#18479F!important;margin-top:-100px;padding-top:100px;min-height:100px;z-index:2}
.dbbg6{background:#18479F!important;margin-top:-100px;padding-top:100px;min-height:20px;z-index:-1}
.ybbg1{background:#FAA41D!important;margin-top:-100px;padding-top:100px;min-height:100px;z-index:1}
.bluecolor{color:#00ADEF}
.bluecolor1{color:#17479E!important}
.dbundle .lightgreen{background:#E7F1CE!important;margin-top:0;min-height:70px;padding-top:280px;padding-bottom:15px;z-index:-1}
.ictbottom .lightgreen{background:#E7F1CE!important;margin-top:0;min-height:30px;padding-top:180px;padding-bottom:15px;z-index:-1}
.lightgreen{background:#E7F1CE!important;margin-top:0;min-height:70px;padding-top:100px;padding-bottom:15px;z-index:-1}
.jbbotoom .lightgreen{background:#E7F1CE!important;margin-top:0;min-height:70px;padding-top:10px;padding-bottom:15px;z-index:-1}
.lightgreen1{background:#E7F1CE!important;margin-top:0;min-height:100px;padding-top:120px;z-index:-1}
.lightgreen1 .bluecolor{color:#18479F}
.fnctbotom .lightpink{background:#EEC7D9!important;margin-top:0;min-height:30px;padding-top:180px;padding-bottom:15px;z-index:-1}
.lightpink{background:#EEC7D9!important;margin-top:0;min-height:100px;padding-top:100px;padding-bottom:15px;z-index:-1}
.lightblue{background:#DBE1EF!important;margin-top:0;min-height:250px}
.borbotlb{border-bottom:5px solid #3F76DB!important}
.borbotpink{border-bottom:5px solid #EB0B6C!important}
.border5px{border-top:5px solid #FAA41D!important}
.borbot5px{border-bottom:5px solid #134E9C!important}
.borbotgreen{border-bottom:5px solid #85AC1B!important}
.logbox1,.logbox2{width:415px;position:relative;float:left;padding:15px;min-height:320px;margin:10px 0 20px 110px;box-shadow:3px 2px 5px #ccc;border:1px solid #ccc}
.text_right{text-align:right}
.logbox2{margin:10px 0 20px 20px;min-height:370px}
.freesimbox1{width:515px;float:left;margin:10px 0 20px 110px;padding:0;box-shadow:3px 2px 5px #ccc;border:1px solid #ccc}
.freesimbox1 h4,.freesimbox2 h4,.logbox1 h4,.logbox2 h4,.registerbox h4{font-size:25px;font-weight:700;color:#009FE3!important;width:93%;margin:0 0 0 3%;padding-top:3%;border-bottom:1px solid #ccc;padding-bottom:10px;float:left}
.registerbox h4{padding-top:1%;margin:0 0 2%;width:100%;float:left}
.logbox1 h4,.logbox2 h4{margin:0}
.freesimbox2 h4{border-bottom:0 solid #ccc!important;padding-bottom:20px}
.topupright h4{border-bottom:1px solid #ccc!important;padding-bottom:20px}
.topupright h4 span input{color:red;text-align:right;display:inline-block;float:right;font-size:18px;border:0;background:none;cursor:pointer;text-decoration:underline}
.freesimbox2{width:435px;float:left;margin:10px 0 0 20px;padding:10px 0 30px;box-shadow:3px 2px 5px #ccc;border:1px solid #ccc;min-height:300px}
.free_sim_right_sub{float:left;padding:0;width:20%;margin:15px 10px 0;display:block;text-align:center}
.free_sim_right_sub2 strong{color:#009FE3;font-weight:700}
.freesimbox2 .common_field_main p{padding:3px}
.free_sim_right_sub2{float:right;padding:0;width:71%;margin:15px 0 20px;display:block;text-align:left;font-weight:500;font-size:14px}
.delightfreesim{margin:10px 0 0 8%}
.delightfreesim li{font-size:14px;height:170px;padding:0;width:220px;margin:0 10px 0 0}
.delightfreesim li label{color:#009FE3;display:block;font-size:18px;padding:120px 0 0;font-weight:700;text-align:center;top:0}
.delightfreesim li{background:url(../images/common/topupredio.png) no-repeat scroll center bottom transparent!important;font-size:14px;font-weight:400;height:190px;padding:0;float:left;width:220px;margin:0 10px 0 0;cursor:pointer}
.delightfreesim li.active2{font-size:14px;height:170px;padding:0}
.delightfreesim li:nth-child(1) span{background:url(../images/common/standard-sim.png) no-repeat scroll center top transparent!important;float:left;width:220px}
.delightfreesim li:nth-child(2) span{background:url(../images/common/nano-sim.png) no-repeat scroll center 30px transparent!important;float:left;width:220px}
.delightfreesim li span{height:194px}
.delightfreesim li label{font-size:18px;padding:120px 0 60px;cursor:pointer}
.delightfreesim li.active2{background:url(../images/common/topupredio_over.png) no-repeat scroll center bottom transparent!important;font-size:14px;height:190px;padding:0}
.delightfreesim li.active2 label{font-size:18px;padding:120px 0 60px;color:#009FE3;display:block;font-size:18px;padding:120px 0 60px;font-weight:700;top:0}
.delightfreesim li input{display:none}
.common_field_main{float:left;padding:7px 0;width:100%}
.common_field_main p{padding:15px}
.common_label{font-size:15px;font-weight:400;margin:0;padding:0 15px 0 0;text-align:right;line-height:33px;width:20%;float:left}
.common_input_box{font-size:15px;width:30%;float:left;font-weight:400;line-height:33px}
.common_input_box22{line-height:22px!important;padding-top:5px}
.common_error{margin:0 0 0 10px;width:40%;float:left}
.common_label_full{font-size:15px;font-weight:400;margin:10px 0 0;padding:0;text-align:left;line-height:22px;width:80%;float:left}
.common_label2{font-size:15px;font-weight:400;margin:0;padding:0 15px 0 0;text-align:right;line-height:33px;width:25%;float:left}
.common_input_box2{font-size:15px;width:30%;float:left;font-weight:400;line-height:33px}
.top_label{margin:0;padding:10px 0 0;text-align:right;width:35%;float:left;font-size:15px}
.top_input{margin:0 0 0 10px;padding:0;width:55%;float:left;font-size:15px;line-height:23px}
.top_input8{line-height:38px!important}
.top_input81{clear:both!important;margin:10px 0 0 5px !important}
.top_input811{text-align:left!important}
.top_label1{margin:0;padding:0;width:35%;font-size:15px}
.topupright .top_label{margin:0;padding:0 0 0 20px;text-align:left;width:45%;font-weight:500}
.topupright .top_input{width:42%;padding-left:15px}
.top_input1{margin:0;padding:0 0 0 10px;width:55%}
.errormsg,.errMsg,.msgErr{background:url(../images/common/error.png) no-repeat scroll left 10px rgba(0,0,0,0)!important;color:red;display:block;float:left;font-size:11px;line-height:24px;margin:0;padding:8px 0 0 25px;height:25px;clear:both;width:100%}
.input_value{background-color:#fff;border:1px solid #bfc0c2;border-radius:10px;color:gray;float:left;font-size:15px;font-weight:400;line-height:20px;height:30px;margin:0;padding:4px 5px 4px 10px;width:94%}
.input_value1{background-color:#fff;border:1px solid #bfc0c2;border-radius:10px;color:gray;float:left;font-size:15px;font-weight:400;line-height:20px;height:30px;margin:0;padding:4px 5px 4px 10px;width:47%}
.card_new{width:50%;margin:10px 0 0 10px;float:left;padding:10px;background:#fff;text-align:center;border-radius:10px;box-shadow:5px 5px 9px 0 #000}
.card_new2{width:50%;margin:10px 0 0;float:left;padding:0;text-align:center}
.cursor{cursor:pointer}
select.input_value1{height:40px}
select.input_value{height:40px;width:100%}
.input_value2{background-color:#fff;border:1px solid #bfc0c2;border-radius:10px;color:gray;float:left;font-size:15px;font-weight:400;line-height:20px;height:25px;margin:0;padding:5px 5px 5px 10px;width:27%}
.input_value21{background-color:#fff;border:1px solid #bfc0c2;border-radius:10px;color:gray;float:left;font-size:15px;font-weight:400;line-height:20px;height:40px;margin:0;padding:5px 5px 5px 10px;width:27%}
.input_value3{background-color:#fff;border:1px solid #bfc0c2;border-radius:10px;color:gray;float:left;font-size:15px;font-weight:400;line-height:20px;margin:0 5px;height:40px;padding:5px 5px 5px 10px;width:39%}
.common_buttons{background:url(../images/common/arrow-button.png) no-repeat scroll 95% center #009FE3!important;border:medium none;border-radius:10px;color:#fff;display:inline-block;font-size:18px;font-weight:700;line-height:38px;margin:0;padding:3px 70px 3px 30px;text-align:center;text-decoration:none;width:100%;cursor:pointer}
.common_buttons:hover,.common_buttons2:hover,a.common_buttons:hover,.common_buttons3:hover,a.common_buttons31:hover{color:#fff;text-decoration:none}
.thankyoubox{padding:15px;width:870px;float:left;margin:20px 0 20px 110px;box-shadow:3px 2px 5px #ccc;min-height:300px;border:1px solid #ccc}
.thankyoubox h4{font-size:25px;font-weight:700;color:#44A943;width:100%;margin:0 0 10px;padding-top:3%;float:left;border-bottom:1px solid #ccc;padding-bottom:15px}
.thankyoubox h6{font-size:18px;font-weight:700;color:#444;width:100%;margin:0 0 10px;padding-top:3%;float:left;padding-bottom:15px}
.thankyoubox img{vertical-align:middle;float:left;padding-right:15px}
.thankyoubox p{padding:10px 0;float:left;width:100%;display:block}
.thankyoubox p b{padding:0;float:left;width:25%;display:inline-block}
.thankyoubox p span{display:inline-block;text-align:right;padding-left:30px;float:left}
.mailspan{display:inline-block!important;text-align:left!important;float:none!important;padding:0!important;font-weight:700}
.login_left_input{padding:0;margin:2% 0 0;width:75%}
.login_left_text{padding:0;margin:9px 0 0;font-size:15px;color:#000;width:100%}
.login_input{background-color:#fff;border:1px solid #bfc0c2;border-radius:10px;color:#333;font-size:15px;font-weight:400;height:40px;margin:0;padding-left:10px;width:100%}
.width60{width:60%}
.width72{width:72%}
.common_bullet{float:left;margin:0 0 10px;padding:0}
.common_bullet li{background:url(../images/common/right.png) no-repeat scroll left top rgba(0,0,0,0)!important;color:#000;float:left;font-size:15px;line-height:22px;padding:0 0 0 30px;margin:5px 0;width:100%;list-style:none}
.width900{width:900px;float:left;margin-left:115px}
.width700{width:900px;float:left;margin-left:215px}
p{padding:5px 0}
.intlist,.dclist,.fclist{background:url(../images/common/inttable.png) no-repeat!important;width:905px;height:587px;position:relative;float:left;margin-left:110px}
.dclist,.fclist{background:url(../images/common/dctable.png) no-repeat!important;width:912px;height:388px;bottom:-160px;position:relative;margin-top:-160px}
.dclist{margin-top:-140px}
.intlist h2,.dclist h2,.fclist h2{font-weight:700;color:#fff;text-align:center;font-size:25px;line-height:80px}
.dclist h2,.fclist h2{line-height:30px;padding-top:20px}
.dclist h2 span{font-weight:500;font-size:20px}
.fclist h2 span{font-weight:500;font-size:20px}
.fcdiv{background:url(../images/common/fct1.png) no-repeat!important;float:left;width:319px;height:185px;position:relative;margin:60px 0 0 80px}
.fcdiv h4{width:100%;text-align:center;font-size:30px;color:#fff;font-weight:700;padding:25px 0 20px}
.intlist ul,.dclist ul{width:100%;float:left;margin:0;padding:0;list-style:none}
.intlist ul li,.dclist ul li{float:left;margin:20px 0 0;padding:0;list-style:none;width:16.5%;height:98px;text-transform:capitalize}
.dclist ul li{width:33%;margin:50px 0 0}
.intlist ul li img,.dclist ul li img{clear:both;text-align:center;margin:0 auto;display:table;padding-bottom:10px}
.intlist ul li span,.dclist ul li span{float:left;text-align:center;font-weight:700;color:#134E9C;width:100%;display:block;clear:both;font-size:15px;line-height:18px}
.green1{width:212px;height:61px;position:relative;float:left;background:url(../images/common/green-1.png) no-repeat!important;font-size:20px;color:#1642A3;margin:150px 10px 0 0;text-align:center;padding-top:20px}
.fsim{width:216px;height:33px;position:relative;float:left;background:url(../images/common/freesim.png) no-repeat!important;font-size:15px;color:#fff;margin:150px 10px 0 0;text-align:center;padding-top:10px}
.fsim a,.topup a{color:#fff}
.topup{width:216px;height:33px;position:relative;float:left;background:url(../images/common/topup.png) no-repeat!important;font-size:15px;color:#fff;margin:195px 10px 0 -225px;text-align:center;padding-top:10px;font-weight:700}
.h6class{color:#F73282;font-size:20px;padding:20px 0;font-weight:700;line-height:25px}
.jbonus{padding:15px 45px;width:90%;float:left;margin:10px 0;background:url(../images/common/jbarrow.png) no-repeat 20px 14px #F8F4F5!important;border-bottom:1px solid #eee;color:#000;font-weight:700;display:block}
.fdimg{margin-top:-7px;margin-left:20px;z-index:12;float:left;position:relative}
.cttable{background:url(../images/common/ct-table.png) no-repeat!important;width:901px;height:374px;float:left;position:relative;bottom:-120px;margin-top:-120px;padding-bottom:0}
.cttable h6{color:#fff;font-size:25px;font-weight:700;padding:15px 0 0;width:100%;float:left;text-align:center}
.ctdiv{width:33%;float:left;margin:0;padding:0}
.ctdiv h5{font-weight:700;font-size:15px;color:#fff;text-align:center;padding:35px 50px 30px}
.ctdiv p{font-weight:500;font-size:14px;color:#18479F;text-align:left;padding:0 20px 0 40px}
.cttable h6 span{font-size:15px;font-weight:500}
.fdtable{background:url(../images/common/fdtable.png) no-repeat -15px 0!important;width:925px;height:303px}
.fdtable h6{color:#fff;font-size:25px;font-weight:700;padding:25px 0 0 38px;width:110px;float:left}
.fdtable1{width:730px;float:right;position:relative;margin:16px 35px 0 0;padding:0}
.fdtable1 table{width:100%;float:left;margin:0;padding:0}
.fdtable1 table tr th{font-size:15px;font-weight:700;text-align:center;color:#18479F;width:33%;padding:23px 0}
.fdtable1 table tr td{color:#000;font-size:15px;font-weight:700;padding:11px 0;text-align:center;width:33%}
.fdtable1 table tr td span{color:#464646;float:right;font-size:10px;padding-right:15px;padding-top:2px}
.owl-prev{margin-top:-180px;float:left;position:relative;z-index:100;text-indent:-99999px;width:40px;height:40px;margin-left:15px;background:url(../images/common/prev.png) no-repeat!important}
.owl-next{margin-top:-180px;float:right;margin-right:15px;position:relative;z-index:100;text-indent:-99999px;width:40px;height:40px;background:url(../images/common/next.png) no-repeat!important}
.rrtable{background:url(../images/common/rrt1.png) no-repeat!important;width:906px;height:276px;position:relative;float:left;margin-left:100px}
.rrtable1{background:url(../images/common/rrt2.png) no-repeat!important}
.rrtable2{background:url(../images/common/rrt3.png) no-repeat!important;bottom:-120px;margin-top:-120px}
.rrtable h6{color:#fff;font-size:25px;font-weight:700;padding:25px 0 0;width:100%;text-align:center;float:left}
.rtab{width:100%;float:left;margin:0;padding:0;position:relative}
.rtabdiv,.rrtable2 .rtabdiv{width:19.5%;float:left;margin:0;padding:0}
.rrtable2 .rtabdiv{width:100%}
.rtabdiv h5{font-weight:700;font-size:18px;color:#fff;text-align:center;padding:50px}
.rtabdiv p{font-weight:700;font-size:23px;color:#000;text-align:center;padding:0 0 0 20px}
.ctlist ul{width:100%;float:left;margin:0 0 10px;padding:0}
.ctlist ul li{background:url(../images/common/ctimg.png) no-repeat 0 8px!important;padding:10px 25px;font-size:14px}
.txtcenter{text-align:center}
.crates{width:159px;height:61px;line-height:61px;color:#fff;position:absolute;text-align:center;background:url(../images/common/crates.png) no-repeat 0 0!important;font-weight:700;font-size:15px;float:left;margin-top:-20px}
.colorwhite{color:#fff}
.bluebg a.teamsconditions_pluss{color:#fff}
.bluebg #toggleText{color:#fff}
.colorblack{color:#000!important}
.colorgray{color:#444!important;border-bottom:0!important;padding-bottom:0!important;padding-top:20px;float:left}
.redcolor{color:#E30601!important;padding-top:0;float:left}
.dbtable{background:url(../images/common/bun1.png) no-repeat!important;width:899px;height:218px;float:left;position:relative;padding-bottom:0}
.dbtable span{font-weight:500;font-size:20px}
.dbtable1{background:url(../images/common/bun2.png) no-repeat!important}
.dbtable2{background:url(../images/common/bun3.png) no-repeat!important}
.dbtable3{background:url(../images/common/bun4.png) no-repeat!important}
.dbtable h6{color:#fff;font-size:23px;font-weight:700;padding:15px 0 0 50px;width:10%;text-align:center}
.dbtable h6 span.strike{color:#fff;font-size:23px;font-weight:700}
.strike{position:relative;display:inline-block;background:none}
.strike::before,.cross::after{content:'';width:100%;position:absolute;right:0;top:50%}
.strike::before{border-bottom:3px solid red;-webkit-transform:skewY(-10deg);transform:skewY(-10deg)}
.dbtab{width:17%;float:left;margin:0;padding:0 0 0 2%}
.dbtab h5{font-weight:500;font-size:15px;color:#fff;text-align:left;padding:35px 50px 30px}
.dbtab p{width:90%;font-size:15px;color:#fff;text-align:center;padding:45px 20px 0 0;line-height:20px}
.dbtab p b{font-size:20px}
.dttable{background:url(../images/common/dttable.png) no-repeat!important;width:925px;height:344px;bottom:-250px;margin-top:-200px;float:left;position:relative}
.dttable h6{background:url(../images/common/topblue.png) no-repeat scroll 0 0 rgba(0,0,0,0)!important;color:#fff;float:left;font-size:31px;font-weight:700;height:83px;margin:-20px 0 0 30px;padding:25px 0 0;text-align:center;width:830px}
.dtbundlebox{background:url(../images/common/dtb.png) no-repeat bottom left!important;width:212px;float:left;margin:-20px 0 0 10px;height:250px}
.dtbundlebox p{color:#fff;text-align:center;font-size:20px;line-height:25px}
.dtbundle{background:url(../images/common/dtbundle1.png) no-repeat!important;width:147px;height:185px;margin:0 0 0 30px;color:#18479F}
.dtbundle1{background:url(../images/common/dtbundle2.png) no-repeat!important}
.dtbundle2{background:url(../images/common/dtbundle3.png) no-repeat!important}
.dtbundle3{background:url(../images/common/dtbundle4.png) no-repeat!important}
.dtbundle h4{width:100%;text-align:center;font-size:32px;font-weight:700;padding-top:70px}
.dtbundle h4 span{font-size:25px}
.dtbundle p{text-align:center;font-weight:700;font-size:18px}
.padtop60{padding-top:280px}
.padtop601{padding-top:80px}
.uktable,.uktable1{background:url(../images/common/intable.png) no-repeat!important;width:899px;height:375px;float:left;position:relative;padding-bottom:0}
.uktable1{background:url(../images/common/uktable1.png) no-repeat!important;bottom:-150px;margin-top:-130px;height:200px}
.uktable1 ul{margin:0;float:right;padding:0;width:82%;position:relative}
.uktable1 ul li{color:#18479F;font-size:18px;font-weight:700;padding:16px 10px 10px 1px;width:15%;text-align:center;float:left}
.uktable1 ul:nth-child(3) li{color:#000}
.uktable1 h6{color:#fff;font-size:20px;font-weight:700;padding:20px 0 0 20px;width:12%;text-align:center;float:left}
.uktable1 h6 span{font-weight:500}
.uktable h6{color:#fff;font-size:20px;font-weight:700;padding:25px 0 0;width:100%;text-align:center}
.tftable{background:url(../images/common/tftable.png) no-repeat!important;width:906px;height:326px;float:left;position:relative;padding-bottom:0;margin-top:-130px}
.tftable h6{color:#fff;font-size:20px;font-weight:700;padding:25px 0 0;width:100%;text-align:center}
.tftab{width:100%;float:left;margin:0;padding:0;width:93%;text-align:left;float:left;padding:0;margin:0 0 0 4%}
.tftab ul{width:100%;margin:0}
.tftab ul li{width:6%;font-size:11px;font-weight:700;float:left;color:#18479F;padding:36px 5px 0 14px;text-align:center}
.tftab1{width:93%;text-align:left;float:left;padding:0;margin:28px 0 0 4%}
.tftab1 ul{width:100%;margin:0}
.tftab1 ul li{width:6%;font-size:13px;font-weight:700;float:left;color:#444;padding:16px 5px 0 14px;text-align:center}
.tfp{width:100%;float:left;padding-top:23px;color:#666}
.uktab,.uktab1{width:100%;float:left;margin:0;padding:0}
.uktab ul,.uktab1 ul{width:91%;text-align:left;float:left;padding:0;margin:0 0 0 8%}
.uktab1 ul{width:98%;margin:0 0 0 1%}
.uktab ul li,.uktab1 ul li{width:9%;font-size:13px;font-weight:700;float:left;color:#18479F;padding:36px 5px 0 12px;text-align:center}
.uktab1 ul li{font-weight:500}
.uktab1 ul li:nth-child(1){font-weight:600;color:#000}
.uktab1 ul li:nth-child(2){font-weight:600;color:#000}
.uktab1 ul li{color:#444;width:7%;padding:18px 26px 16px 0}
.pad30{padding-top:30px!important}
.supportheader{width:1130px;position:relative;float:left;background:#FAA41D;height:85px}
.supportheader h1{line-height:85px;padding-left:410px;font-size:30px;color:#fff;font-weight:700}
.leftnav{width:240px;float:left;margin:30px 0 0;padding:0}
.leftnav ul{width:240px;float:left;margin:0;padding:0}
.leftnav ul li{float:left;margin:0;display:block}
.leftnav ul li a{color:#fff;padding:0 0 0 25px;background:url(../images/common/sup-menu.png) no-repeat!important;width:220px;height:45px;line-height:45px;display:block}
.leftnav ul li a.active{background:url(../images/common/sup-menu1.png) no-repeat!important;font-weight:700;color:#18479F}
.supportright{width:605px;position:relative;float:left;margin:30px 0 0 55px;padding:0}
.supportright .email{color:#18479f}
.supportright h4{font-size:25px;font-weight:700;color:#18479F;text-align:left;padding-bottom:15px}
.contactform p{padding:0 0 0 25px}
.supportright .contact,.supportright .write{width:45%;float:left;margin:20px 5% 0 0;position:relative}
.contactform{background:#AADEF4;width:97%;height:auto;position:relative;float:left;bottom:-180px;margin-top:-150px;z-index:15;border-top-right-radius:30px;border-bottom-left-radius:30px;padding-bottom:100px}
.contactform h5{font-size:25px;font-weight:700;color:#18479F;text-align:center;width:95%;line-height:55px;background:#fff;border:#32ABDE 1px solid;margin-left:2%;margin-top:-3%}
.contactform .cdiv .clabel{width:30%;text-align:left;padding-left:0;float:left;display:block;line-height:40px}
.contactform p{padding-left:25px}
.contactform .cdiv .cinput{width:60%;text-align:left;padding-right:0;float:left;display:block}
.contactform .cdiv .cinput input{width:100%;float:left;height:30px;border-radius:10px;border:1px solid #CCC}
.contactform .cdiv{width:100%;float:left;margin:15px 0 0 4%;position:relative}
.contactform .cdiv .cinput input[type=submit]{width:25%;float:left;height:60px;border-radius:10px;border:0 solid #ccc}
.contactform .cdiv .cinput select{width:104%;float:left;height:40px;border-radius:10px;border:1px solid #ccc}
.contactform .cdiv .cinput select:focus{outline:none}
.contactform .cdiv .cinput textarea{width:103%;float:left;height:140px;border-radius:10px;border:1px solid #ccc;resize:none}
.csubmit{width:159px;height:61px;line-height:61px;color:#fff;position:absolute;text-align:center;background:url(../images/common/csubmit.png) no-repeat 0 0!important;font-weight:700;font-size:15px;float:left;margin-left:30%}
.faqmenu1{float:left;margin:4px 0 150px;padding:0;min-height:150px;width:100%}
.topup_right{width:35%;margin:0 0 0 20px}
.stepOne li{background:url(../images/common/box-price.png) no-repeat scroll left top!important;height:110px;margin:0 30px 0 0;padding:6px 0;width:105px;background-size:100%;float:left}
.stepOne li label{height:98px;padding:15px 0 0;font-size:36px}
.stepOne li.active{background:url(../images/common/box-price-selected.png) no-repeat scroll left top!important;background-size:100%}
.stepOne li span{display:block;line-height:20px;padding-left:0;text-align:center}
.stepOne li input{display:none;line-height:119px;text-align:center}
.stepOne li label{cursor:pointer;display:block;font-size:36px;height:98px;padding:15px 0 0;top:0}
.stepOne li.active{background:url(../images/common/box-price-selected.png) no-repeat scroll left top!important;color:#fff;display:block;float:left;background-size:100%}
.h1{color:#009FE3;font-family:Arial;font-size:28px;font-weight:700;line-height:32px;margin:0;padding:0;text-align:left;width:100%}
.topup_center_text1{color:#009fe7;display:block;float:left;font-size:18px;font-weight:700;margin:20px 0 0;padding:0;width:100%}
.topup_left{margin:20px 0 50px;box-shadow:3px 3px 3px #ccc;width:95%;float:left;padding:20px;border:1px solid #ccc}
.registerbox{margin:0 0 50px;box-shadow:3px 3px 3px #ccc;width:95%;float:left;padding:20px;border:1px solid #ccc}
.stepOne{display:block;margin:0;padding:0;width:100%;float:left}
.topupredio{float:left;list-style:none outside none;margin:20px 0 0;position:relative;padding:0}
.topupredio li{background:url(../images/common/tick-button-unselected.png) no-repeat scroll left 0!important;font-size:14px;font-weight:400;height:35px;padding:0;float:left;width:100px}
.topupredio li span{display:block;line-height:0;margin-top:-20px;position:relative;text-align:center}
.topupredio li label{display:block;font-size:15px;padding:7px 0 0 35px;font-weight:700;color:#565656;top:0}
.topupredio li input{display:none}
.topupredio li.active2{background:url(../images/common/tick-button-selected.png) no-repeat scroll left 0!important;font-size:14px;font-weight:700;height:40px;padding:0}
.topupredio li.active2 label{display:block;font-size:15px;padding:7px 0 0 35px;font-weight:700;color:#565656;top:0}
.ul3,.ul4{margin:10px 0;padding:0;width:100%}
.ul3 li,.ul4 li{padding:0;list-style:none;float:left;font-size:15px;line-height:40px;margin:0;width:33.3%;color:#000}
.ul4 li{width:25%}
.ul3 li img,.ul4 li img{padding:0;margin:0 5px 0 0;vertical-align:middle}
.ul3 li span,.ul4 li span{padding:0;font-size:15px;font-weight:700}
.display{display:block}
.display1{display:none}
.displaypc{display:block}
.displaymobile{display:none}
.display2{display:inline}
.display3{display:none}
.topup_left .common_field_main{width:63%}
.registerbox .common_field_main{width:65%;float:left;clear:both}
.faqmenu1 .accordion-content{display:none;padding:12px 20px;background:#fff;border:1px solid #17479E;border-top:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;width:93%!important;line-height:22px}
.btnFind{background:#009FE3;color:#fff!important;border:medium none;float:right;font-size:15px;font-weight:700;height:35px;line-height:100%;margin:0;padding:3px 0;text-align:center;width:45%;cursor:pointer;border-radius:10px}
.btnFind:hover{background:#009FE3}
.txtalnleft{text-align:left!important}
.linehieght{font-size:13px;line-height:19px}
.martop20{margin-top:20px}
.terms{width:100%;float:left;font-weight:700}
.terms h1{font-size:30px;text-align:center;color:#464646;padding:30px 0 0}
.terms .green1{margin:20px 0 0}
.marleft150{margin-left:250px!important}
.termsbox{width:96%;float:left;font-weight:700;padding:10px;border:1px solid #18479F;margin:30px 0}
.termsbox ol{list-style-type:lower-alpha;margin:10px 0 0 30px}
.termsbox ol li{font-size:14px;font-weight:500;padding:7px 0}
.termsbox p.bold{font-weight:700}
.bold{font-weight:700}
.termsbox p,.termsbox ul li{font-weight:400;line-height:20px;font-size:14px}
.termsbox p strong{font-weight:700}
.termsbox table tr td{padding:10px}
.termsbox h3{padding:20px 0}
.box-header h1{text-align:left;font-size:18px;padding:0;text-align:center}
.box-abt{background:#eee;box-shadow:2px 2px 3px #ccc;width:27%;height:150px;padding:10px;float:left;position:relative;margin:0 2%;text-align:center}
.country-dd-title{float:left;width:220px;padding-top:15px;font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:700;color:#fff;line-height:19px}
.country-offer-dd{position:relative;border-radius:5px;float:left;width:100%;margin:0}
.home_pg .country-offer-dd{width:auto;float:none}
.country-offer-dd .select-country .country-dd-open{cursor:pointer;position:absolute;top:0;right:0;width:46px;height:30px;display:inline-block}
.country-offer-dd .select-country img{margin-right:7px;display:inline-block;vertical-align:middle}
.country-offer-dd .select-country .country-dd-close{display:inline-block;vertical-align:middle;cursor:pointer;position:absolute;top:17px;right:55px}
.country-offer-dd.open .select-country-popup{border:2px solid #d1d3d4;margin-top:16px}
.ratesbox .select-country-popup{width:79%!important}
.country-offer-dd .select-country-popup{max-height:210px;overflow:auto;border:2px solid #004491;background-color:#fff;position:absolute;top:32px;left:0;width:515px;display:none;left:0;right:0;width:auto}
.country-offer-dd .select-country-popup a{display:block;padding:10px;border-bottom:1px solid #e9e9e9}
.country-offer-dd .select-country-popup a:hover{background-color:#f5f5f5}
.select-country-popup a span,.select-country-popup a img{display:inline-block;cursor:pointer;vertical-align:middle;font-family:Arial,Helvetica,sans-serif;font-size:20px;color:#999;line-height:22px;margin-right:8px}
.common_30{width:3%;float:left}
.accordion-content{width:857px!important;border-radius:0}
.padleft{padding-left:50px}
#toggleText{margin:15px 0}
#toggleText ul{list-style:disc;float:left;margin-left:30px;margin-bottom:20px}
#toggleText ul li{list-style:disc;padding:5px 0;float:left;width:100%;display:list-item;line-height:20px;position:relative;font-size:14px}
.width106{width:103.5%}
.height320{max-height:320px!important;min-height:320px}
.width72{width:72%}
.width77{width:77%}
.displaymobile{display:block}
.dismob{display:none}
.thanku{font-size:15px;width:30%;float:left;font-weight:400;line-height:33px}
.modalBackground{background-color:#000;filter:alpha(opacity=90);opacity:.8;overflow:hidden}
.modalPopup{background-color:#FFF;border-radius:4px;padding:10px;overflow-x:hidden;overflow-y:scroll;width:auto;height:auto;min-height:400px;text-align:left}
.modalPopupcr{background-color:#FFF;border-radius:4px;padding:10px;overflow-x:hidden;overflow-y:hidden;width:560px;height:266px;min-height:300px;text-align:left}
a.teamsconditions_pluss::after{content:"[ + ]"}
a.teamsconditions_plusss::after{content:"[ - ]"}
.padbot30{padding-bottom:30px}
.text{color:red;text-align:right;display:inline-block;float:left;font-size:18px;padding-left:30px;border:0;background:none;cursor:pointer;text-decoration:underline}
.width31{width:31%!important}
.zindex10{z-index:10}
.width105{width:105.5%}
.widthnew{width:106%}
.home_rates{display:block;float:left;margin:-10% 0 0 17%;width:60%}
.home_rates_value_main{background:none repeat scroll 0 0 #ebebec;display:block;float:left;margin:0;padding:0;width:31.3%}
.home_page_sub_rate{float:left;margin:3% 0 0;padding:0;width:100%}
.home_rates_value_main{background:url(../images/common/tab1.png) no-repeat!important;width:224px;height:331px;display:block;float:left;margin:0;padding:0;width:31.3%}
.home_rates_value_main h2{color:#fff;display:block;float:left;font-size:18px;font-weight:700;margin:15px 0 10px;text-align:center;width:100%}
.home_rates_value_main span{color:#18479F;display:inline;font-size:40px;font-weight:700;margin:1% 0 0;text-align:center}
.home_rates_value_main p{color:#18479F;display:block;float:left;font-size:15px;font-weight:700;margin:10% 0 0;text-align:center;width:100%}
.compare-us{width:145px;height:48px;float:left;left:40px;padding:0;background:url(../images/common/compare-us.png) no-repeat!important;color:#fff;line-height:48px;text-align:center;font-weight:700;position:absolute;top:240px}
.intable{background:url(../images/common/intable.png) no-repeat!important;width:899px;height:426px;float:left;position:relative;padding-bottom:0}
.intab,.intab1{width:100%;float:left;margin:0;padding:0}
.intable h6{color:#fff;font-size:20px;font-weight:700;padding:25px 0 0;width:100%;text-align:center}
.intab ul,.intab1 ul{width:90%;text-align:left;float:left;padding:0;margin:0 0 0 9%}
.intab1 ul{width:100%;margin:0}
.intab ul li,.intab1 ul li{width:8%;font-size:13px;font-weight:700;float:left;color:#18479F;padding:36px 20px 0 4px;text-align:center}
.intab1 ul li{font-weight:500}
.intab1 ul li:nth-child(1){font-weight:600;color:#000}
.intab1 ul li:nth-child(2){font-weight:600;color:#000}
.intab1 ul li{color:#444;width:8%;padding:19px 6px 10px 10px}
.itemnew{float:left;width:100%;position:relative}
.main_box5{width:700px;position:relative;float:left;margin:0;padding:0;font-size:14px}
.main_box5 .h3class{font-size:20px;font-weight:700;padding-left:15px}
.main_box5 ul{width:100%;float:left;margin:0 0 0 2%}
.main_box5 ul li{width:90%;float:left;padding:0 0 30px;line-height:18px}
.main_box5 ul li.one{background:url(../images/common/popli1.png) no-repeat!important;padding-left:45px;min-height:30px}
.main_box5 ul li.two{background:url(../images/common/popli2.png) no-repeat!important;padding-left:45px;min-height:30px}
.main_box5 ul li.three{background:url(../images/common/popli3.png) no-repeat!important;padding-left:45px;min-height:30px}
.main_box5 ul li.four{background:url(../images/common/popli4.png) no-repeat!important;padding-left:45px;min-height:30px}
.accordion-content p{padding-left:20px}
.faqmenu1 .accordion1-header{font-size:16px;margin:0;padding:0 20px;border-bottom:1px solid #134E9C;cursor:pointer;color:#fff;font-family:Lucida Sans,Arial;background:url(../images/common/sup-arrow1.png) #97C11F!important;background-repeat:no-repeat;background-position:10px 50%;padding-left:50px;font-weight:700}
.faqmenu1 .accordion1-header span{border-left:1px solid #fff;display:block;padding:15px 10px;color:#17479E}
.yellowbg{background:#FBA51E!important;border-bottom:3px solid #0081BA;-webkit-print-color-adjust:exact}
.yellowbg .intable{margin-top:10px}
.banner{position:relative;overflow:visible}
.banner ul{float:left;width:100%;display:block}
.banner li{list-style:none}
.banner ul li{float:left}
.btnclose{position:fixed;margin-top:-10px;margin-left:-10px;font-weight:700;display:block;background-color:gray;padding:2px;width:16px;height:16px;font-size:16px;line-height:16px;text-align:center;border-radius:16px 16px 16px 16px;border:3px solid #fff;cursor:pointer}
.jbpop{width:700px;padding:10px 20px;height:400px}
.jbpop h3{font-size:20px;font-weight:700}
.jbpop h3.green{font-size:20px;font-weight:700;padding-bottom:20px;padding-left:0}
.jbpop p{width:90%}
.table_companynumber{margin:0 0 30px;width:90%}
.table_companynumber tr th{padding:10px 0;font-weight:700;font-size:15px;background:#18479F;color:#fff;text-align:center}
.table_companynumber tr td{padding:10px 0;font-weight:500;font-size:15px;background:#E5F4CB;text-align:center;border:1px solid #fff}
.box_left p,.middle_box p,.right_box p{padding-top:30px}
.txt15{font-size:20px!important}
.dbbg5{background:#18479F;margin-top:0;padding-top:22px;min-height:100px;z-index:2}
.social{width:130px;float:right;position:relative;display:block}
.social img{width:28px}
.sitemap h1{font-size:30px;font-weight:700}
.sitemap ul{float:left;list-style:disc;width:100%;margin:10px 20px;padding:0}
.sitemap ul li{float:left;list-style:disc;display:list-item;width:100%;padding:3px 0}
.sitemap ul li ul{margin:10px 0 0 30px}
.left50{width:50%;float:left}
.right50{width:50%;float:left}
.seoh1{color:#009fe3;float:left;font-size:24px;font-weight:700;margin:0;padding:20px 0;width:100%}
.seoh2{color:#009fe3;float:left;font-size:25px;font-weight:700;margin:0;padding:20px 0;width:100%}
.seoh2white{color:#fff;float:left;font-size:24px;font-weight:700;margin:0;padding:2% 0 0;width:100%}
.seoh2p{color:#fff;float:left;font-size:14px;line-height:18px;margin:0;width:100%;padding:2% 0}
.seoul{float:left;font-size:14px;margin:0 0 0 30px;padding-bottom:10px;padding-top:10px;width:100%}
.seoul li{float:left;font-size:14px;margin:0;width:100%;list-style:disc;padding:6px}
.left50 .fclist{width:100%;float:left;background-size:100%;margin-left:0}
.left50 .fclist h1{line-height:30px;font-size:24px;padding-top:15px;color:#fff;text-align:center;font-weight:700}
.left50 .fcdiv{background:url(/cheap-calls/images/fct1.png) no-repeat scroll 0 0 rgba(0,0,0,0)!important;float:left;height:185px;margin:20px 0 0 20px;background-size:100%;position:relative;width:250px}
.left50 .fcdiv h4{color:#fff;font-size:20px;font-weight:700;padding:20px 0;text-align:center;width:93%}
.left50 .fcdiv h5{color:#fff;font-size:30px;font-weight:700;padding:15px 0 20px;text-align:center;width:100%}
.left50 .dclist{background:url(/cheap-calls/images/dctable-seo.png) no-repeat scroll 0 0 rgba(0,0,0,0)!important;background-size:100%;height:560px;margin:50px 0 0;position:relative;width:100%;padding:0;bottom:0}
.left50 .dclist h2{color:#fff;font-size:25px;font-weight:700;line-height:30px;text-align:center;margin:0 50px 0 0}
.left50 .dclist h2 span{font-size:20px;font-weight:500}
.left50 .dclist ul{float:left;list-style:outside none none;margin:0;padding:0;width:100%}
.right50 .freesimbox1{border:1px solid #ccc;box-shadow:3px 2px 5px #ccc;float:left;margin:10px 0 20px 50px;padding:0;width:515px}
.bannerseo{width:881px;position:relative;float:left;z-index:1;height:314px;display:block;background:#fff;border:2px solid #E50064;background-size:100%}
.bannerindia_baloon{font-size:30px;line-height:32px;margin:50px 14px 0 0;padding:8px 20px;width:56%;background:#E50064;text-align:right;float:right;border-radius:10px;color:#fff;font-weight:700}
.bannerindia_baloon h1{font-size:32px;line-height:32px;margin:50px 14px 0 0;padding:8px 20px;width:54%;text-align:right;float:right;color:#fff}
.cheap_header_sub1{float:right;margin:50px 0 0 20px;padding:5px 0;width:60%}
.cheap_header1{background-size:240px auto;float:left;height:314px;margin:0;padding:0;width:100%}
#seo_india{background:url(/cheap-calls/images/peoples/India.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_nigeria{background:url(/cheap-calls/images/peoples/nigeria.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_lithuania{background:url(/cheap-calls/images/peoples/Lithuania.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Hungary{background:url(/cheap-calls/images/peoples/Hungary.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_China{background:url(/cheap-calls/images/peoples/China.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Ghana{background:url(/cheap-calls/images/peoples/Ghana.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Bangladesh{background:url(/cheap-calls/images/peoples/Bangladesh.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Uganda{background:url(/cheap-calls/images/peoples/Uganda.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Morocco{background:url(/cheap-calls/images/peoples/Morocco.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Canada{background:url(/cheap-calls/images/peoples/Canada.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Italy{background:url(/cheap-calls/images/peoples/Italy.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Afghanistan{background:url(/cheap-calls/images/peoples/Afghanistan.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Slovakia{background:url(/cheap-calls/images/peoples/Slovakia.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Thailand{background:url(/cheap-calls/images/peoples/Thailand.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Saudi_Arabia{background:url(/cheap-calls/images/peoples/Saudi-Arabia.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_UAE{background:url(/cheap-calls/images/peoples/UnitedArab-Emirates.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Ireland{background:url(/cheap-calls/images/peoples/Ireland.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Mexico{background:url(/cheap-calls/images/peoples/Mexico.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_France{background:url(/cheap-calls/images/peoples/France.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Spain{background:url(/cheap-calls/images/peoples/Spain.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Australia{background:url(/cheap-calls/images/peoples/Australia.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Japan{background:url(/cheap-calls/images/peoples/Japan.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Brazil{background:url(/cheap-calls/images/peoples/brasil.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Pakistan{background:url(/cheap-calls/images/peoples/Pakistan.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Romania{background:url(/cheap-calls/images/peoples/Romania.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Poland{background:url(/cheap-calls/images/peoples/Poland.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_turkey{background:url(/cheap-calls/images/peoples/turkey.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_latvia{background:url(/cheap-calls/images/peoples/Latvia.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_SriLanka{background:url(/cheap-calls/images/peoples/srilanka.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_USA{background:url(/cheap-calls/images/peoples/usa.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Kenya{background:url(/cheap-calls/images/peoples/kenya.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_south_africa{background:url(/cheap-calls/images/peoples/south-africa.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_hong_kong{background:url(/cheap-calls/images/peoples/hong-kong.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Malaysia{background:url(/cheap-calls/images/peoples/Malaysia.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Algeria{background:url(/cheap-calls/images/peoples/Algeria.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Egypt{background:url(/cheap-calls/images/peoples/Egypt.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
#seo_Netherlands{background:url(/cheap-calls/images/peoples/Netherlands.png) no-repeat scroll 20px bottom rgba(0,0,0,0)!important}
.btag{font-weight:700}
}
@media screen and (min-width:0px) and (max-width:767px) {
.owl-carousel{display:none;position:relative;width:100%;float:left;-ms-touch-action:pan-y}
}
@media screen and (min-width:768px) and (max-width:1170px) {
.owl-carousel{position:relative;width:100%;float:left;-ms-touch-action:pan-y}
}