﻿html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
b{font-weight:700}
p{font-size:14px;line-height:18px}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{text-decoration:none;color:#18479F;outline:none}
body{line-height:1;font-family:'Open Sans',sans-serif}
ol,ul{list-style:none}
img{border:0;outline:0;max-width:100%}
img a{border:0;outline:0}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
/*body{background:url(../images/common/bg-home.png) repeat-x} */
.width100{float:left;width:100%;position:relative;padding:0;margin:0;z-index:0; background-color:#fff;}
.widthIconbg{ background: #fff url(../images/common/inner-bg.png) repeat-x scroll 0 0;}
.left{float:left}
.marleft10{margin-left:10px}
.marleft0{margin-left:0!important}
.marleft100{margin-left:100px!important}
.clear{clear:both}
.width1130{width:1130px;z-index:10;position:relative}
.right{float:right}
.font14{font-size:14px}
.lnheight30{line-height:20px}
.graybg{background:#C4C4C4;z-index:-2}
.txtcenter{text-align:center}
.contact_sus{padding:10px 0;margin:20px 0 0;line-height:32px}
.errormsg1{background:#def4ff;padding:10px 20px 20px;float:left;border-radius:10px}
.errormsg2{background:url(../images/common/top_arrow.jpg) no-repeat scroll left 35px;padding:0 0 0 17px;float:left;width:35%;margin:-20px 0 -120px;display:block}
.text_left{text-align:left!important}

.teamsclose2{background:url(../images/common/teamclose.png) left top no-repeat;color:#000;cursor:pointer;display:block;font-size:16px;font-weight:700;height:37px;line-height:16px;padding:2px;position: relative;text-align:center;width:34px; float:right; top:-10px;}
.list-1{list-style:disc;}
.list-1 li {margin-left:30px;font-size:13px;line-height: 18px;}
.joining_bonus_li li
{
    font-size: 14px;
    line-height: 23px;
}


.new_header{top: 33px}
.new_wrapper_top{margin-top:33px;}
#alert_main{height:auto;position:absolute;top:0;right:0;left:0;width: auto;}
.span_text_alert{width: 92%;padding: 0;display: inline-block;padding:5px;}
.text_alert_close{font-size: 15px;color: #fff;text-align: right;font-weight: bold;float: right;padding: 0;text-decoration: none;padding:6px;}
.Cookies_alert {background-color: #43a842;color: #fff;font-size: 10.5px;min-height:33px !important;/*padding: 6px 7px; */position: relative;} 
.Cookies_alert p{padding:9px 0 0 15px;font-size: 13px;float: left;line-height:1.2; width:90%;}        
.cookiesImg{float: left;width:40px;text-align: center;}
.cookiesTop{margin-top:125px !important;}
.m-0-auto {margin: 0 auto  ;}
.floatNone{float:none !important;}