﻿@media only screen and (min-width : 768px) and (max-width : 899px) {
.width1130{width:100%}
.errormsg2{display:none}
.menu{width:100%;position:relative;float:left;margin:0;padding:0}
.menu ul li a{font-weight:700;color:#fff;font-size:18px;text-decoration:none;padding:10px 14px;background:#444;font-weight:bold;color:#FFF;font-size:15px;text-decoration:none;padding:10px 14px;background:none repeat scroll 0 0 #323232}
.banner img{width:100%}
.cuscare p{text-align:center}
.fsimbanner img{text-align:center;margin:0 auto 0 30%;padding-top:4%;width:50%}
.fsimbanner2 img{text-align:center;margin:0 auto 0 30%;padding-top:4%;width:50%}
.fsimbtn{background:url(../images/common/fsim-btn.png) no-repeat scroll 0 0 transparent;width:125px;height:38px;color:#1642A3;font-size:13px;line-height:38px;margin:5px 0 0 25%;background-size:100%}
.fsimbanner h3{padding-top:9px;font-size:15px}
.offer1{width:100%;background:#E50064;height:42px;float:left;position:relative}
.offer1 p{font-size:11px;color:#FFF;padding:3px 10px;font-weight:500;font-family:Lucida Sans;line-height:11px;width:96%;text-align:center}
.offer1 h6{color:#F2F800;font-size:23px}
.input_value{width:94%}
.display{display:block}
.display1{display:block}
.display2{display:none}
.uktable1 ul li{color:#18479F;font-size:14px;font-weight:700;padding:16px 12px 0 0;width:12.3%;text-align:center;float:left}
.uktable1.t-2 .r-1{padding-top:3px!important}
.uktable1.t-2 li {width:21.5%;padding:16px 6px}
.uktable1.t-2 li:nth-child(2) {margin-left:5px;width: 21.5%}
.uktable1.t-2 li:nth-child(3) {margin-left:3px;width:22.5%}
.uktable1.t-2 li:nth-child(4) {margin-left:5px;width:21.5%}
.uktable1.t-2 p {clear:both;padding:2.5% 0 0 13.5%;}
.uktable1{width:100%;background-size:100% auto}
.uktable1 h6{color:#FFF;font-size:16px}
.uktable{background:url(../images/common/uktable.png) no-repeat;background-size:100%;width:100%}
.uktab ul li,.uktab1 ul li{width:7.5%;font-size:11px;font-weight:500;float:left;color:#18479F;padding:22px 8px 0 14px;text-align:center}
.uktab1 ul li{color:#444;width:7.5%;padding:27px 6px 0 10px}
.uktab ul{width:91%;text-align:left;float:left;padding:0;margin:0 0 -3px 8%}
.width700{width:100%;float:left;margin-left:15px}
.jbonus{width:90%}
.rrtable{margin-left:10px;background-size:100%;width:96%}
.rtabdiv h5{font-weight:700;font-size:15px;color:#FFF;text-align:center;padding:26px 50px 35px 40px}
.flexnav li a.topupbtn,.flexnav li a.loginbtn{background:none repeat scroll 0 0 #e50063;border:2px solid #fff;border-bottom-left-radius:10px;border-top-right-radius:10px;color:#fff;float:left;font-weight:700;height:15px;line-height:15px;margin-left:20px;margin-top:10px;text-align:center;width:85%;display:block}
.flexnav li a.loginbtn{background:#F29200}
.flexnav li a.loginbtn:hover{background:#F29200}
.flexnav li a.topupbtn:hover{background:#e50063}
.dbtable{background:url(../images/common/bun1.png) no-repeat scroll 0 0 transparent;background-size:100%;width:98%}
.dbtable1{background:url(../images/common/bun2.png) no-repeat;background-size:100%}
.dbtable2{background:url(../images/common/bun3.png) no-repeat;background-size:100%}
.dbtable3{background:url(../images/common/bun4.png) no-repeat;background-size:100%}
.dbtable3 h6{color:#FFF;font-size:16px;font-weight:700;padding:10px 0 0 40px;width:12%;text-align:center}
.dbtable3 .dbtab p{width:90%;font-size:12px;color:#FFF;text-align:center;padding:28px 20px 0 0}
.footer1 img{width:100%;margin:0}
.footer2 ul li{font-size:13px;display:block;color:#464646;padding:4px 0}
.dtbundle{background:url(../images/common/dtbundle1.png) no-repeat scroll 0 0 transparent;background-size:100%;width:141px;height:auto;margin:0 auto;color:#18479F}
.dtbundlebox{background:url(../images/common/dtb.png) no-repeat scroll left bottom transparent;width:22%;float:left;margin:1% 0 0 10px;height:auto;padding-bottom:8px}
.dtbundle1{background:url(../images/common/dtbundle2.png) no-repeat}
.dtbundle2{background:url(../images/common/dtbundle3.png) no-repeat}
.dtbundle3{background:url(../images/common/dtbundle4.png) no-repeat}
.dtbundlebox p{color:#FFF;text-align:center;font-size:15px;line-height:18px}
.leftnav{width:27%;float:left;margin:30px 0 0;padding:0}
.leftnav ul li a{color:#FFF;padding:0 0 0 25px;background:url(../images/common/sup-menu.png) no-repeat scroll 0 0 transparent;background-size:100%;width:85%;height:45px;line-height:45px;display:block}
.leftnav ul li{float:left;margin:0;display:block;width:100%}
.supportright{width:66%;position:relative;float:right;padding:0;margin:30px 0 0 1%}
.faqmenu1 .accordion-content{width:90%!important}
.faqmenu1{float:left;margin:4px 0 50px;padding:0;min-height:150px;width:100%}
.supportheader h1{line-height:85px;padding-left:25px;font-size:30px;color:#FFF}
.box1,.box3{background-size:40%}
.logbox1,.logbox2{width:90%;position:relative;float:left;padding:15px;min-height:320px;margin:10px 0 20px 2%;box-shadow:3px 2px 5px #CCC;border:1px solid #CCC}
.common_field_main{float:left;padding:7px 15px;width:82%}
.freesimbox1{width:90%;float:left;margin:10px 0 20px 4%;padding:0;box-shadow:3px 2px 5px #CCC;min-height:500px;border:1px solid #CCC}
.freesimbox2{width:90%;float:left;margin:10px 0 50px 4%;padding:10px 0 30px;box-shadow:3px 2px 5px #CCC;border:1px solid #CCC;min-height:300px}
.fdtable{background:url(../images/common/fdtable.png) no-repeat scroll 0 0 transparent;width:100%;min-height:230px;background-size:100%;height:230px}
.fdtable h6{color:#fff;float:left;font-size:19px;font-weight:700;padding:30px 0 0 26px;width:10%}
.fdtable1{width:78%;float:right;position:relative;margin:16px 20px 0 0;padding:0}
.fdtable1 table tr th{font-size:15px;font-weight:700;text-align:center;color:#18479F;width:33%;padding:12px 0}
.fdtable1.sub table tr th{padding:5px 0;}
.fdtable1 table tr td{font-size:13px;font-weight:700;text-align:center;color:#000;width:34%;padding:11px 0}
.fdtable1.sub table tr:nth-child(3) td,.fdtable1.sub table tr:nth-child(4) td{padding:24px 0 0 0;}
.fclist h2{line-height:22px;padding-top:20px;font-size:20px}
.fclist h2 span{font-weight:500;font-size:15px}
.fcdiv{background:url(../images/common/fct1.png) no-repeat scroll 0 0 / 100% auto transparent;float:left;width:40%;height:185px;position:relative;margin:42px 0 0 8%}
.intlist{background:url(../images/common/inttable.png) no-repeat scroll 0 0 transparent;width:96%;position:relative;float:left;margin-left:10px;background-size:100%;height:469px}
.intlist ul li{float:left;margin:8px 0 0;padding:0;list-style:outside none none;width:16.5%}
.thankyoubox{width:91%;float:left;margin:20px 0 20px 10px}
.owl-next{margin-top:-130px}
.owl-prev{margin-top:-130px}
.bluebg{background:none repeat scroll 0 0 #00ADEF;margin-top:-200px;padding-top:160px;min-height:200px;z-index:-1}
.dclist{width:96%;min-height:300px;background-size:100%;margin-left:10px}
.dclist h2{font-size:20px;line-height:20px}
.dclist h2 span{font-weight:500;font-size:17px}
.cttable{background:url(../images/common/ct-table.png) no-repeat scroll 0 0 transparent;width:100%;background-size:100%}
.ctdiv h5{font-weight:700;font-size:13px;color:#FFF;text-align:center;padding:12px 50px 30px}
.ctdiv p{font-weight:500;font-size:11px;color:#18479F;text-align:left;padding:0 20px 0 32px}
.cttable h6{color:#FFF;font-size:19px;font-weight:700;padding:15px 0 13px;width:100%;float:left;text-align:center}
.cuscare{height:30px;margin:0 auto;background:#C5C5C5}
.graybg p{font-size:11px;font-weight:500;color:#111;padding:5px 0}
.display3{display:none}
.login_left_text{padding:0;font-size:15px;color:#000;width:63%;margin:9px 0 0 13%}
.login_left_input{padding:0;width:55%;margin:2% 0 0 13%}
.common_bullet{float:left;margin:0 0 20px 13%;padding:0;width:61%}
.thankyoubox .common_bullet{float:left;margin:0 0 20px}
.displaypc{display:block}
.displaymobile{display:block}
.dismob{display:none}
.width72{width:77%}
.supportheader{width:100%;position:relative;float:left;background:#FAA41D;height:85px}
.contactform{background:#AADEF4;width:97%;height:auto;position:relative;float:left;bottom:-100px;margin-top:-70px;z-index:15;border-top-right-radius:30px;border-bottom-left-radius:30px;padding-bottom:100px}
.contactform h5{font-size:15px;font-weight:700;color:#18479F;text-align:center;width:95%;line-height:55px;background:#fff;border:#32ABDE 1px solid;margin-left:2%;margin-top:-3%}
.contactform .cdiv .clabel{width:30%;text-align:left;padding-left:0;float:left;display:block;line-height:40px}
.contactform .cdiv .cinput{width:60%;text-align:left;padding-right:0;float:left;display:block}
.contactform .cdiv .cinput input{width:100%;float:left;height:40px;border-radius:10px;border:1px solid #CCC}
.contactform .cdiv{width:100%;float:left;margin:15px 0 0 4%;position:relative}
.contactform .cdiv .cinput textarea{width:104%;float:left;height:140px;border-radius:10px;border:1px solid #CCC}
.contactform .cdiv .cinput select{width:106%;float:left;height:40px;border-radius:10px;border:1px solid #ccc}
.headtxt{text-align:right;float:right;padding-left:0;font-size:25px}
#owl-demo1 .itemnew img{height:209px}
.wrapper{width:728px;margin:0 auto;position:relative}
.header{float:none;height:135px;margin:0 auto;position:relative;width:728px;z-index:100}
.nav{float:left;margin:0;padding:0;position:absolute;width:100%}
.menu-button{top:0;left:0;position:initial!important;padding:16px 0!important;width:40px!important;margin:27px 0 0}
.logo{margin:10px 0 10px 50px}
  .splash-center
    {
        width:55%  !important;
        height:300px !important;
        overflow: scroll;
    }
.banner{width:68%;margin-left:0;height:auto}
.fsimbanner2{width:224px;height:205px;margin-right:0;background:#fff;border:2px solid #18479F}
.delight{height:142px;position:absolute;right:-16px;top:24px;width:179px}
.ratesbox,.ratesbox1{width:94%;margin:15px 0 0;padding:10px 0;background:none repeat scroll 0 0 #FBA51E;float:none;margin:5px auto;height:50px}
.ratesbox input{width:67%}
.globe{background:none;min-height:300px;background-size:17%}
.intrates{float:left;margin:0;padding:0;height:115px;background-size:14%}
.bottombox{width:96%;height:220px;float:left;background:none repeat scroll 0 0 #FFF;margin:69px 0 2% 2%;border-bottom-left-radius:60px;border-top-right-radius:60px}
.country-offer-dd{display:block;float:none;margin:0 10px}
.intrates h1{padding-bottom:15px}
body{background:url(../images/common/bg-home.png) repeat-x 0 -80px}
.flexnav{margin-top:74px!important}
.intrates1 h1{padding-left:0;padding-top:10px;padding-bottom:10px}
.width900{width:100%;float:left;margin-left:0}
.dbbottom .bluebg{padding-bottom:0;padding-top:175px}
.accordion-content{border-radius:0;width:auto!important}
.fsimbanner{width:29%;height:auto;background:#fff;border:2px solid #18479F;position:absolute;margin:0}
.offer1{background:none repeat scroll 0 0 #e50064;float:left;height:42px;position:relative;width:98%;border:2px solid #fff;padding:3px 0 0}
.dttable{background:url(../images/common/dttable.png) no-repeat scroll 0 0 transparent;width:98%;background-size:100%;height:344px;float:left;position:relative}
.dttable h6{background:url(../images/common/topblue.png) no-repeat scroll 0 0 transparent;background-size:100%;width:90%;height:auto;line-height:65px;padding:0;font-size:25px}
.faqmenu{float:left;margin:4px 0 0;padding:0;min-height:150px;width:100%}
.dbundle .lightgreen{min-height:25px}
.footer1{width:100%;position:relative;float:left;margin:0;padding:0}
.footer2{margin:0;width:100%}
.footer2 ul{float:left;margin:25px 15px 0 20px;padding:0;width:20%}
.footer3 .display3{display:block}
.footer3 .display3 li{float:left;width:auto;padding:10px;font-size:12px}
.dbtable h6{color:#FFF;font-size:26px;font-weight:700;padding:12px 0 0 40px;width:10%;text-align:center;line-height:22px}
.dbtable span{font-size:15px;font-weight:500}
.dbtable3 h6{width:14%;padding-left:25px;line-height:18px}
.dbtab p{color:#fff;font-size:12px;padding:24px 20px 0 0;text-align:center;width:90%}
.dbtable .dbtab:nth-child(4){width:16%}
.dbtable .width87{width:23%}
.dbtab p b{font-size:22px}
.zindex10 .fsimbanner{top:-281px}
.dbtable3 .dbtab:nth-child(2){padding-left:21px;width:16%}
.padbot30{padding-bottom:15px}
.bluebg{min-height:auto}
.fdtable1 .display2{display:inline-block}
.fdtable1 table tr td{padding:8px 0}
.fdtable1 table tr td span{padding-right:18px;font-size:9px;padding-top:3px}
#fsimbanner-tab{top:-323px}
.ctdiv h5{color:#fff;font-size:13px;font-weight:700;height:53px;padding:8px 35px 0;text-align:center}
.bluebg .bluecolor1{color:#fff}
.fclist{background:url(../images/common/dctable.png) no-repeat scroll 0 0 / 100% auto transparent;bottom:-209px;height:388px;margin-left:2%;margin-top:-185px;position:relative;width:96%}
.delight img{margin:13px 0 0 17px;max-width:160px}
.cttable{margin-top:-83px}
.borbotlb .width900{width:100%}
.supportright .faqmenu1 .accordion-content{width:91%!important}
.bluebg .green1 .bluecolor1{color:#17479e}
.leftnav ul li a.active{background-size:100%}
.graybg .display2{display:inline}
.home_rates_value_main span{font-size:35px}
.box1 p{padding-top:30px}
.h6class{line-height:26px}
.ratesbox1 select{width:96%;margin-left:2%}
.intable{background-size:100%;width:100%;height:312px}
.intab ul li,.intab1 ul li{width:7%;font-size:10px;font-weight:700;float:left;color:#18479F;padding:19px 13px 0;text-align:center}
.intab1 ul li{color:#444;width:6.5%;padding:19px 11px 10px 12px}
.intlist ul li{height:75px}
.intlist ul li span{float:left;text-align:center;font-weight:700;color:#134E9C;width:100%;display:block;clear:both;font-size:12px;line-height:14px}
.intlist ul li img{clear:both;text-align:center;margin:0 auto;display:table;padding-bottom:10px;width:33%}
.fcdiv h4{padding:18px 0 20px}
.distab{display:none}
.contactform .cdiv .cinput input[type="submit"]{width:32%}
.tftable{margin-top:-40px;background-size:100%;width:100%}
.tftab ul li{padding:14px 5px 0 10px}
.tftab1 ul li{padding:16px 5px 0 10px}
.left50{width:96%;margin-left:2%;float:left}
.right50{width:96%;margin-left:2%;float:left}
.seoh1{color:#009fe3;float:left;font-size:24px;font-weight:700;margin:0;padding:20px 0;width:100%}
.seoh2{color:#009fe3;float:left;font-size:25px;font-weight:700;margin:0;padding:20px 0;width:100%;line-height:30px}
.seoh2white{color:#fff;float:left;font-size:24px;font-weight:700;margin:0;padding:2% 0 0 2%;width:96%}
.seoh2p{color:#fff;float:left;font-size:14px;line-height:18px;margin:0;width:96%;padding:2% 0 2% 2%;line-height:22px}
.seoul{float:left;font-size:14px;margin:0 0 20px 20px;padding-bottom:10px;padding-top:10px;width:100%}
.seoul li{float:left;font-size:14px;margin:0;width:100%;list-style:disc;padding:6px}
.left50 .fclist{width:100%;float:left;background-size:100%;margin-left:0;min-height:220px;bottom:0;margin-top:10px;height:auto}
.left50 .fclist h1{line-height:30px;font-size:24px;padding-top:20px;color:#fff;text-align:center;font-weight:700;padding-bottom:25px}
.left50 .fcdiv{background:url(/cheap-calls/images/fct1.png) no-repeat scroll 0 0 rgba(0,0,0,0);float:left;height:125px;margin:20px 0 0 18%;background-size:100%;position:relative;width:185px}
.left50 .fcdiv h4{color:#fff;font-size:13px;font-weight:700;padding:20px 0;text-align:center;width:93%}
.left50 .fcdiv h5{color:#fff;font-size:30px;font-weight:700;padding:0 0 20px;text-align:center;width:100%}
.left50 .dclist{min-height:530px;margin:70px 0 20px;position:relative;padding:0 0 20px;height:auto;bottom:0;background-size:100%;width:100%}
.left50 .dclist h2{color:#fff;font-size:20px;font-weight:700;line-height:26px;text-align:center;padding-top:40px;margin:0 50px 0 0}
.left50 .dclist h2 span{font-size:20px;font-weight:500}
.left50 .dclist ul{float:left;list-style:outside none none;margin:50px 0 0;padding:0;width:100%}
.left50 .dclist ul li img{max-width:70px}
.left50 .dclist ul li{margin:20px 0 0}
.right50 .freesimbox1{border:1px solid #ccc;box-shadow:3px 2px 5px #ccc;float:left;margin:10px 0 20px;padding:0;width:98%}
.bannerseo{width:68%;margin-left:0;height:auto;background:#fff;border:2px solid #E50064;background-size:100%}
.bannerindia_baloon{font-size:16px;line-height:18px;margin:50px 14px 0 0;padding:8px 20px;font-weight:700;background:#E50064;text-align:right;float:right;border-radius:10px;color:#fff}
.cheap_header1{background-size:240px auto;float:left;height:213px;margin:0;padding:0;width:100%}
.cheap_header_sub1{float:right;margin:10px 0 0 20px;padding:5px 0;width:50%}
.social{display:none}
#seo_india,#seo_nigeria,#seo_lithuania,#seo_Hungary,#seo_China,#seo_Ghana,#seo_Bangladesh,#seo_Uganda,#seo_Morocco,#seo_Canada,#seo_Italy,#seo_Afghanistan,#seo_Slovakia,#seo_Thailand,#seo_Saudi_Arabia,#seo_UAE,#seo_Ireland,#seo_Mexico,#seo_France,#seo_Spain,#seo_Australia,#seo_Japan,#seo_Brazil,#seo_Pakistan,#seo_Romania,#seo_Poland,#seo_turkey,#seo_latvia,#seo_SriLanka,#seo_kenya,#seo_south_africa,#seo_hong_kong,#seo_Malaysia,#seo_Algeria,#seo_Egypt,#seo_Netherlands{background-size:180px}
.wrapper-Lp{width:728px;margin:0 auto;position:relative}
.wrapper-Lp .freesimbox1,.wrapper-Lp .freesimbox2{margin-left:0;width:100%}
.wrapper-Lp .logo{margin:20px 0 0}
.fsimbanner_joiningbonus {
     
        border: 2px solid #18479f;
    float: right;
    height: 178px;
    position: relative;
    width: 242px;
    text-align: center;
    margin-top: -282px;
}
.fsimbanner_joiningbonus img {
    display: none;
}
.fsimbtn1 {
    background: url(../images/common/fsim-btn.png) no-repeat 0 0;
    width: 206px;
    height: 65px;
    background-size: 100%;
    color: #1642A3;
    font-size: 15px;
    line-height: 35px;
    margin: 3px 0 3px 8px;
    /* display: inline-block; */
    padding: 14px;
        float: initial;
}
}